@{
    UserAccessOption access = GenericTetroONE.GetUserAccessSession(UserScreen.Vendor, Context.Session);
}

<link href="~/css/MaintenancePlanning.css" rel="stylesheet" />

<div class="row quick-db m-b-5">
    <div class="col-lg-12">
        <div class="row m-t-25">
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-green bubble-shadow-small">
                                    <img src="~/assets/moduleimages/contact/vendoricon_1.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox1"></div>
                                    <h4 class="card-title" id="CounterValBox1"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-orange bubble-shadow-small">
                                    <img src="~/assets/moduleimages/contact/vendoricon_2.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox2"></div>
                                    <h4 class="card-title" id="CounterValBox2"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-red bubble-shadow-small">
                                    <img src="~/assets/moduleimages/contact/vendoricon_3.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox3"></div>
                                    <h4 class="card-title" id="CounterValBox3"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-blue  bubble-shadow-small">
                                    <img src="~/assets/moduleimages/contact/vendoricon_4.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox4"></div>
                                    <h4 class="card-title" id="CounterValBox4"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row justify-content-end mr-2">
    <div class="searchbar">
        <input type="text" class="searchbar__input" name="q" id="tableFilter" placeholder="Search">
        <button type="submit" class="searchbar__button">
            <img src="~/assets/commonimages/search.svg" />
        </button>
    </div>

    <div class="datapiker ml-2 mt-1" style="position: relative;">
        <div class="add-imp-exp-btn">
            <div class="exportsiconpop">
                @{
                    if (access.Create)
                    {
                        <span class="pop">
                            <a id="AddMaintenancePlan" title="Add MaintenancePlan">
                                <img src="~/assets/CommonImages/addicon.svg" style="height: 25px; width: 25px;" />
                            </a>
                        </span>
                    }
                }
            </div>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-rounded dataTable data-table table-striped tableResponsive" id="MaintenancePlanTable"></table>
</div>

<div id="MaintenancePlanCanvas" class="offcanvas-container">
    <div class="offcanvas-header d-flex align-items-center justify-content-between">
        <h2 id="MaintenancePlanHeader">Add New MaintenancePlan</h2>
        <span id="CloseCanvas" class="close"
              style="font-size:30px;cursor:pointer;color:white;"
              title="Close">&times;</span>
    </div>

    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Maintenance Plan Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="FormMaintenancePlan">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>MaintenancePlan No<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" placeholder="MP/2025-0001" id="MaintenancePlanNo" name="MaintenancePlanNo" required maxlength="50" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Date<span id="Asterisk">*</span></label>
                                            <input type="date" class="form-control" placeholder="Ex: 101, Ashoka Nagar" id="MaintenancePlandate" name="MaintenancePlandate" maxlength="500" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Department / Section<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="DepartmentId" name="DepartmentId" required>
                                                <option value="">--Select--</option>
                                                <option value="1">Dyeing</option>
                                                <option value="2">Printing</option>
                                            </select>

                                        </div>
                                    </div>
                                    

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>PlanType<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="PlanTypeId" name="PlanTypeId" required>
                                                <option value="">--Select--</option>
                                                <option value="1">Preventive</option>
                                                <option value="2">Predictive</option>
                                                <option value="3">Corrective</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Frequency<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="FrequencyId" name="FrequencyId" required>
                                                <option value="">--Select--</option>
                                                <option value="1">Daily</option>
                                                <option value="2">Weekly</option>
                                                <option value="3">Monthly</option>
                                                <option value="4">Quarterly</option>
                                                <option value="5">Yearly</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Plan StartDate<span id="Asterisk">*</span></label>
                                            <input type="date" class="form-control" placeholder="Ex: 101, Ashoka Nagar" id="PlanStartDate" name="PlanStartDate" maxlength="500" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Plan EndDate</label>
                                            <input type="date" class="form-control" placeholder="Ex: 101, Ashoka Nagar" id="PlanEndDate" name="PlanEndDate" maxlength="500" />
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Priority</label>
                                            <select class="form-control" id="PriorityId" name="PriorityId">
                                                <option value="">--Select--</option>
                                                <option value="1">Normal</option>
                                                <option value="2">High</option>
                                                <option value="3">Critical</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Status<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="StatusId" name="StatusId" required>
                                                <option value="">--Select--</option>
                                                <option value="1">Planned</option>
                                                <option value="2">In Progress</option>
                                                <option value="3">Completed</option>
                                                <option value="4">Delayed</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <textarea class="form-control" id="Remark" autocomplete="off" name="Remark" rows="1" maxlength="250" placeholder="Remarks"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2" id="Attachrow">
                                        <div class=" border border-radius" style="background-color:#F1F0EF; max-height:10.5rem;height: 96px;">
                                            <!-- Add a custom button for choosing files -->
                                            <label class=" d-flex justify-content-center align-content-center mt-1" style="text-decoration:underline; color:#7D7C7C;">
                                                <b>Click Here to Attach your files</b>
                                                <input type="file" id="fileInput" multiple="" class="custom-file-input">
                                            </label>
                                            <div class="file-preview d-flex justify-content-center" id="preview">
                                                <div class="attachrow">
                                                    <div class="attachcolumn">
                                                        <ul class="row justify-content-center px-3 mb-2" id="selectedFiles"></ul>
                                                    </div>
                                                    <div class="attachcolumn"><ul class="row justify-content-center px-3 mb-2" id="ExistselectedFiles"></ul></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-12">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                      Machine Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">

                            <div class="d-flex justify-content-end align-items-start">
                                <button id="" class="btn AddStockBtn" type="button" onclick="duplicateRow(this)">
                                    <i class="fas fa-plus" id="AddButton"></i>
                                </button>
                            </div>
                            <form id="FormEquipmentMachineInfo">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Maintenance Task 
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">

                            <div class="d-flex justify-content-end align-items-start">
                                <button id="" class="btn AddStockBtn" type="button" onclick="addTaskRow(this)">
                                    <i class="fas fa-plus" id="AddButton"></i>
                                </button>
                            </div>
                            <form id="FormMaintenanceTaskInfo">
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="col-md-12 col-lg-12">
            <div class="form-group text-center">
                <div class="card-action">
                    <a class="btn btn-success m-r-20 text-white" id="SaveClient">Save</a>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    var access = @Html.Raw(Json.Serialize(access));
</script>
<script src="~/js/MaintenancePlanning.js"></script>
