@{
    UserAccessOption access = GenericTetroONE.GetUserAccessSession(UserScreen.Transfer, Context.Session);
}

<link href="~/css/transfre.css" rel="stylesheet" />
<style>
  
  
    .Date-SearchColumn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: .5rem !important;
}



</style>
<div class="row quick-db m-b-5">
    <div class="col-lg-12">
        <div class="row m-t-25">
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-green bubble-shadow-small">
                                    @* <img src="~/assets/moduleimages/transfer/transfericon_1.svg" /> *@
                                    <img src="~/assets/moduleimages/inventory/production icon - 2.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox1"></div>
                                    <h4 class="card-title" id="CounterValBox1"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-orange bubble-shadow-small">
                                    <img src="~/assets/moduleimages/transfer/transfericon_1.svg" style="width: 44px;" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox2"></div>
                                    <h4 class="card-title" id="CounterValBox2"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-red bubble-shadow-small">
                                    <img src="~/assets/moduleimages/transfer/transfericon_3.svg" style="width: 44px;" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox3"></div>
                                    <h4 class="card-title" id="CounterValBox3"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-blue  bubble-shadow-small">
                                    <img src="~/assets/moduleimages/transfer/transfericon_2.svg" style="width: 44px;" />
                                    @* <img src="~/assets/moduleimages/transfer/transfericon_4.svg" /> *@
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox4"></div>
                                    <h4 class="card-title" id="CounterValBox4"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="filter-Column" class="Date-SearchColumn mb-2">
    <div class="month-piker d-flex">
        

        <div class="ftdate">
            <div class="row" id="fromtodateCol" style="display:none; margin-left:10px;">
                <div class="col-6" id="frmDate">
                    <div class="form-group d-flex align-items-center">
                        <label class="pr-1">From:</label>
                        <input type="date" class="form-control" id="FromDate" />
                    </div>
                </div>
                <div class="col-6" id="toDate">
                    <div class="form-group mx-2 d-flex align-items-center">
                        <label class="pr-1" id="toLbl">To:</label>
                        <input type="date" class="form-control" id="ToDate" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
         <button class="btn Bulk-Action" id="toggleCustomDate" type="button" title="Select Date Range">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
        <div class="searchbar">
            <input type="text" class="searchbar__input" name="q" id="tableFilter" placeholder="Search">
            <button type="submit" class="searchbar__button">
                <img src="~/assets/commonimages/search.svg" />
            </button>
        </div>

        <div class="datapiker ml-2 mt-1" style="position: relative;">
            <div class="add-imp-exp-btn">
                <div class="exportsiconpop">
                    @{
                        if (access.Create)
                        {
                            <span class="pop">
                                <a id="AddTransfer" title="Add Transfer">
                                    <img src="~/assets/CommonImages/addicon.svg" style="height: 25px; width: 25px;" />
                                </a>
                            </span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TransferMainTableDynamic">
    <div class="table-responsive">
        <table class="table table-rounded dataTable data-table table-striped tableResponsive" id="TransferTable"></table>
    </div>

</div>

<div id="TransferModal" class="modal" data-bs-loader-pms="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h2 id="Transferheader">Transfer</h2>
                <span id="TransferClose" class="close" style="font-size:30px;cursor:pointer;color:white;" title="Close">×</span>
            </div>

            <div class="modal-body" style="max-height: 73vh; overflow-y: auto; overflow-x: hidden; padding: 0px 0px 10px 0px;">
                <div class="Status-Div mt--2">
                    <fieldset class="expensefild_1">
                        <legend class="w-auto">Transfer Status</legend>
                        <div class="horizontal-timeline">
                            <div class="timeline-progress-line-fill"></div>
                            <div class="timeline-progress-line"></div>
                        </div>
                    </fieldset>
                </div>
                <div class="px-3">
                    <div class="row DynPageRow-Div">
                        <!--BillFromColumn-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" id="BillFromColumn" style="position: relative; ">
                            <form id="FormRightSideHeader">
                                <div class="row mt-2">
                                    <div class="col-lg-3 col-md-6 col-6" id="TransferNumberDiv">
                                        <div class="form-group">
                                            <label>Transfer Id<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" id="TransferNo" name="TransferNo" placeholder="TRF_001" autocomplete="off" disabled required>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-6" id="TransferDateDiv">
                                        <div class="form-group">
                                            <label>Transfer Date<span id="Asterisk">*</span></label>
                                            <input type="date" class="form-control" id="TransferDate" name="TransferDate" required>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-6" id="TypeDiv">
                                        <div class="form-group">
                                            <label>Type<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="TransferType" name="TransferType" required>
                                            </select>
                                        </div>
                                    </div>

                                    @*  <div class="col-lg-3 col-md-6 col-6" id="TransferTypeDiv">
                                        <div class="form-group">
                                            <label id="ChangeTheTransferNoLable">Transfer No<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="TypeID" name="TypeID" required>
                                            </select>
                                        </div>
                                    </div> *@
                                </div>
                            </form>
                        </div>

                        <!--VendorColumn-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" id="VendorColumn" style="position: relative; ">
                            <form id="FormVendor" novalidate="novalidate">
                                <div class="row BilAddHead mt-2">
                                    <div class="info-row" style="align-items: center;">
                                        <div class="info-label-Purchase">From<span id="Asterisk">*</span></div>
                                        <div class="info-colon"></div>
                                        <div class="">
                                            <div class="form-group mb-0 mr-2 vendorerror" style="width: 190px;">
                                                <select class="form-control" id="FromAddressId" name="FromAddressId" required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row" id="BranchContent">
                                <div class="col-12">
                                    <div class="info-container" id="">
                                        <div id="VendorAddressDiv" class="info-row">
                                            <div class="info-label-Purchase">Address</div>
                                            <div class="info-colon">:</div>
                                            <div class="info-value">
                                                <a id="FromAddress" name="FromAddress"></a>
                                            </div>
                                        </div>

                                        <div id="VendorCityDiv" class="info-row">
                                            <div class="info-label-Purchase">City</div>
                                            <div class="info-colon">:</div>
                                            <div class="info-value">
                                                <a id="FromCity" name="FromCity"></a>
                                            </div>
                                        </div>

                                        <div id="VendorContactNumberDiv" class="info-row">
                                            <div class="info-label-Purchase">Contact Number</div>
                                            <div class="info-colon">:</div>
                                            <div class="info-value">
                                                <a id="FromContactNumber" name="FromContactNumber"></a>
                                            </div>
                                        </div>



                                        <div id="VendorCountryDiv" class="info-row d-none">
                                            <div class="info-label-Purchase">Country</div>
                                            <div class="info-colon">:</div>
                                            <div class="info-value">
                                                <a id="VendorCountry" name="VendorCountry"></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--ShippingColumn-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" id="ShippingColumn" style="position: relative;">
                            <form id="FormShipping" novalidate="novalidate">
                                <div class="row BilAddHead mt-2">
                                    <div class="info-row d-flex justify-content-between align-items-center" style="align-items: center;">
                                        <div class="d-flex gap-3 align-items-center">
                                            <div class="info-label-Purchase">To<span id="Asterisk">*</span></div>
                                            <div class="info-colon"></div>
                                            <div class="">
                                                <div class="form-group mb-0 mr-2 AlternativeCompanyError" style="width: 190px;">
                                                    <select class="form-control" id="ToAddressId" name="ToAddressId" required>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="toggleVendorInfo" class="btn btn-link p-0" style="font-size: 18px;">
                                            <i class="fas fa-chevron-down" id="toggleIconBranch"></i>
                                        </button>
                                    </div>


                                </div>
                            </form>

                            <div class="row" id="ToBranchContent">
                                <div class="col-12">
                                    <div class="info-container" id="">
                                        <label id="WareHouseStoreId" name="WareHouseStoreId" style="display:none">tesstt</label>
                                        <div id="StoreAddressDiv" class="info-row">
                                            <div class="info-label-Purchase">Address</div>
                                            <div class="info-colon">:</div>
                                            <div class="info-value">
                                                <a id="ToAddress" name="ToAddress"></a>
                                            </div>
                                        </div>

                                        <div id="StoreCityDiv" class="info-row">
                                            <div class="info-label-Purchase">City</div>
                                            <div class="info-colon">:</div>
                                            <div class="info-value">
                                                <a id="ToCity" name="ToCity"></a>
                                            </div>
                                        </div>

                                        <div id="StoreContactNumberDiv" class="info-row">
                                            <div class="info-label-Purchase">Contact Number</div>
                                            <div class="info-colon">:</div>
                                            <div class="info-value">
                                                <a id="ToContactNumber" name="ToContactNumber"></a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Dynmic table-->
                <div class="px-3">
                    <form id="FromTableMainProductPop">
                        <div class="row DynmicTableRow">
                            <div class="container-fluid mt-2">
                                <div class="Purchasetable-container">
                                    <div class="Purchasetable-scroll">
                                        <table class="table table-bordered" id="POProductTable">
                                            <thead class="Dynthead">
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Product Name <span class="ProductNameSpanHead" style="visibility: hidden;">111111111111111111111111111111</span></th>
                                                    <th>Unit<span class="UnitSpanHead" style="visibility: hidden;">1111111111111</span></th>
                                                    <th class="TH_Request_Col">Request Qty</th>
                                                    <th class="TH_Outwarded_Col">Outwarded Qty</th>
                                                    <th class="TH_Inwarded_Col">Inwarded Qty</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="POProductTablebody" class="Dyntbody">
                                                <!--Add Item-->
                                                <tr id="AddItemButtonRow">
                                                    <td colspan="5" class="add-item">
                                                        <div class="add-item">
                                                            <a id="AddItemBtn" class="d-flex justify-content-center">+ Add Item</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr id="SubtotalRow" style="background-color: #e4edf5;">
                                                    <td colspan="3"><div class="summary-label"><a>No Of Product</a></div></td>@*width: 165px;*@
                                                    <td colspan="1"><input type="text" id="AssetTotal" name="AssetTotal" disabled class="form-control" placeholder="0.00" style="background: #fbfbfb !important;"></td>
                                                    <td colspan="1"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Dynmic table-->
                <!--Add Discount Column & Add Notes Column-->
                <div class="px-3">
                    <div class="row DynmicTableRow">
                        <!--Notes & Terms Column-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 order-2 order-md-2 order-lg-1 AddnotesDiv">
                            <div class="row mt-3 mb-3">
                                <!--Add Notes-->
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <input class="AdddiscountLable px-0" id="AddNotesLable" type="button" value="+ Add Notes">

                                    <div id="AddNotes" style="display: none;">
                                        <div class="addterms-Attchbg mb-2 mt-2">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Notes</label>
                                                        <textarea class="form-controltext" id="AddNotesText" name="AddNotesText" rows="4"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <input class="AdddiscountLable px-0 mb-2" id="HideNotesLable" type="button" value="✖ Hide Notes">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Add Terms & Conditions-->
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <input class="AdddiscountLable px-0" id="AddTermsLable" type="button" value="+ Add Terms &amp; Conditions">

                                    <div id="AddTerms" style="display: none;">
                                        <div class="addterms-Attchbg mb-2 mt-2">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Terms and Conditions</label>
                                                        <textarea class="form-controltext" id="TermsAndCondition" name="TermsAndCondition" rows="4"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <input class="AdddiscountLable px-0 mb-2" id="HideTermsLable" type="button" value="✖ Hide Terms &amp; Conditions">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Add Attachment-->
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <input class="AdddiscountLable px-0" id="AddAttachLable" type="button" value="+ Add Attachment">

                                    <div id="AddAttachment" style="display: none;">
                                        <div class="addterms-Attchbg mb-2 mt-2">
                                            <div class="row">
                                                <div class="col-12" style="height: 120px;margin-top:5px;">
                                                    <div class=" border border-radius" style="background-color:#F1F0EF; max-height:10.5rem;height: 120px;">
                                                        <!-- Add a custom button for choosing files -->
                                                        <label class=" d-flex justify-content-center align-content-center mt-3 " style="text-decoration:underline; color:#7D7C7C;cursor: pointer;">
                                                            <b>Click Here to Attach your files</b>
                                                            <input type="file" id="fileInput" multiple="" class="custom-file-input valid" aria-invalid="false">
                                                        </label>
                                                        <div class="file-preview d-flex justify-content-center" id="preview" style="display: block;">
                                                            <div class="attachrow">
                                                                <div class="attachcolumn">
                                                                    <ul class="row justify-content-center px-3 mb-2" id="selectedFiles"></ul>
                                                                </div>
                                                                <div class="attachcolumn">
                                                                    <ul class="row justify-content-center px-3 mb-2" id="ExistselectedFiles"> </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 attachLableDiv">
                                                    <input class="AdddiscountLable px-0" id="HideAttachlable" type="button" value="✖ Hide Attachment" style="margin-top: 11px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Statuscolumn-->
                        <div class="Statuscolumn col-12 order-3">
                            <form id="FormStatus">
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-lg-3 col-md-3 col-6 ">
                                        <div class="form-group" style="visibility: hidden;">
                                            <label>Mode Of Transport<span id="Asterisk">*</span></label>
                                            <select id="ModeOfTrafxgfgnsferId" name="ModeOfTrafgfgnsferId" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="form-group" id="DivModeOfTransport">
                                            <label>Mode Of Transport<span id="Asterisk">*</span></label>
                                            <select id="ModeOfTransferId" name="ModeOfTransferId" class="form-control" required>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="form-group" id="DivTransportno">
                                            <label>Transport No</label>
                                            <input type="text" class="form-control" id="Transportno" name="Transportno" placeholder="Ex: TN36KS0000" autocomplete="off" maxlength="15">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-6 ">
                                        <div class="form-group" id="">
                                            <label>Status<span id="Asterisk">*</span></label>
                                            <select id="TransferStatusId" name="TransferStatusId" class="form-control" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!--Add Discount Column & Add Notes Column-->
            </div>

            <div class="modal-footer d-flex justify-content-center align-items-center w-100">
                <div class="row">
                    <div class="col-12">
                        <div class="button-container d-lg-flex d-block justify-content-center">
                            <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="TransferSaveBtn">
                                <i class="fas fa-save mr-1"></i>
                                <span>Save</span><span class="shortcut-key">[ Ctrl+S ]</span>
                            </button>
                            @* <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="btnPreviewTransfer">
                                <i class="fas fa-eye mr-1"></i> <span>Preview</span><span class="shortcut-key">[ Alt + V ]</span>
                            </button>
                            <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="btnTransfersaveprintbtn">
                                <i class="fas fa-print mr-1"></i> <span> Save &amp; Print</span><span class="shortcut-key">[ Alt + P ]</span>
                            </button> *@


                            @* <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="btnshareTransfer" data-bs-toggle="modal" data-bs-target="#emailModal">
                                <i class="fas fa-share"></i> <span>Share</span><span class="shortcut-key">[ Alt + H ]</span>
                            </button>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu shadow-lg sharedrop" id="ShareDropdownitems" aria-labelledby="btnsharePorder" style="display: none;">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" id="PurchaseOrderWhatsAppBtn">
                                        <i class="fab fa-whatsapp me-3 whatsapp-icon"></i> WhatsApp
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" id="PurchaseOrderMailBtn">
                                        <i class="fas fa-envelope me-3 email-icon"></i> Email
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="#" id="downloadLink">
                                        <i class="fas fa-download me-3 download-icon"></i> Download
                                    </a>
                                </li>

                                <div id="SpinnerWhatsApp" style="position: absolute; display: none;">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </ul> *@

                            <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="TransferCancelBtn">
                                <i class="fas fa-times mr-1"></i> <span>Cancel</span><span class="shortcut-key">[ Alt + C ]</span>
                            </button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--AddProduct Modal popup-->
<div id="ProductModal" class="modal" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h2 id="">Add Item</h2>
                <span id="AddProductClose" class="close d-none" style="font-size:30px;cursor:pointer;color:white;" title="Close">×</span>
            </div>
            <div class="d-flex justify-content-end" style="padding: .5rem !important;">

                <!-- Search Input -->
                <div class="searchbar" style="margin: 10px 4px 0px 10px;">
                    <input type="text" class="searchbar__inputProductTransfer" name="q" id="AdditemSearch" placeholder="Search" style="height: 34px;" autocomplete="off">
                    <button type="submit" class="searchbar__button" style="height: 34px;">
                        <img src="~/assets/commonimages/search.svg" />
                    </button>
                </div>
            </div>
            <div class="modal-body" style="max-height: 73vh; overflow-y: auto; overflow-x: hidden; padding: 0px 0px 10px 0px;">
                <!-- Content goes here -->
                <div class="row">
                    <!--Add Item Table-->
                    <div class="col-12">
                        <div class="table-wrapper">
                            <table class="table table-bordered mb-0" id="ProductItemTable">
                                <thead class="Additemthead">
                                    <tr>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col" class="StockInHandTh">StockInHand (BTL)</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody class="Additemtbody" id="ProductItem-table-body">
                                    <!-- Repeatable Row Template (10x below) -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between align-items-center w-100">
                <div class="">
                    <p class="pt-1 TotalSelectedItmsPra cursor-pointer text-primary  mb-0" style="font-weight:700;"> <span id="TotalItemSelect"></span> Items Selected</p>
                </div>
                <div>
                    <button type="button" id="BtnAdd" class="btn btn-added mr-2">Update</button>
                    <button type="button" id="" class="btn modal-close-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--AddProduct Modal popup-->
<!-- Image Preview Popup -->
<div id="imagePreviewPopup" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%);
background:#fff; box-shadow:0 0 10px rgba(0,0,0,0.3); padding:20px; z-index:99999; border-radius:8px; width:1200px; height:100%; overflow:auto;">
    <button id="closePopup" style="position:absolute; top:10px; right:10px; background:#f44336; color:#fff; border:none; padding:5px 10px; cursor:pointer; border-radius:4px;">X</button>
    <img id="popupImage" src="/assets/previewpdf/transferbill_preview.png" style="max-width:100%; height:auto; display:block; margin:auto;" />
</div>
<!-- Background Overlay -->
<div id="popupOverlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9999;"></div>


<script>
    var access = @Html.Raw(Json.Serialize(access));
</script>

<script src="~/js/AssetTransfer.js"></script>