

<link href="~/css/auditing.css" rel="stylesheet" />



<div id="filter-Column" class="Date-SearchColumn audinting-searchcloumn d-flex justify-content-end">
    
    <div class="d-flex justify-content-end">
        <div class="ml-3 mr-3" style=" width: 100%; white-space: nowrap;">
            <label class="mb-0">
                Show
                <select class="customLengthDropdown custom-select custom-select-sm form-control d-inline-block ml-1"
                        data-table="#TransferTable" style="width: 69px;">

                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> entries
            </label>
        </div>
        <div class="searchbar">
            <input type="text" class="searchbar__input" name="q" id="tableFilter" placeholder="Search">
            <button type="submit" class="searchbar__button">
                <img src="~/assets/commonimages/search.svg" />
            </button>
        </div>

        <div class="datapiker ml-2 mt-1" style="position: relative;">
            <div class="add-imp-exp-btn">
                <div class="exportsiconpop">
                    <span class="pop">
                        <a id="AddAuditing" title="Add ManageStock">
                            <img src="~/assets/CommonImages/addicon.svg" style="height: 25px; width: 25px;" />
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table id="Audittable" class="table table-striped table-bordered table-hover dataTable" style="width: 100%;">
    </table>

</div>


<div id="AuditingModal" class="modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h2 id="AuditingModalText">Auditing Info</h2>
                <span id="AuditingClose" class="close" style="font-size:30px;cursor:pointer;color:white;" title="Close">×</span>
            </div>

            <div class="modal-body" style="max-height: 85vh; overflow-y: auto; overflow-x: hidden; padding: 0px 0px 10px 0px;">
                <form id="FormAudit">
                    <div class="row px-2">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6" id="AuditNodiv">
                            <div class="form-group">
                                <label>Audit No<span id="Asterisk">*</span></label>
                                <input type="text" id="AuditId" name="AuditId" class="form-control" placeholder="AD_101" disabled>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6" id="AuditingDatediv">
                            <div class="form-group">
                                <label>Date<span id="Asterisk">*</span></label>
                                <input type="date" id="AuditingDate" name="AuditingDate" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6" id="Branchdiv">
                            <div class="form-group">
                                <label>Plant<span id="Asterisk">*</span></label>
                                <select class="form-control" id="BranchId" name="BranchId" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6" id="Halldiv">
                            <div class="form-group">
                                <label>Hall<span id="Asterisk">*</span></label>
                                <select class="form-control" id="HallId" name="HallId" required>
                                    <option value="">-- Select Hall --</option>
                                    <option value="1">Hall-A</option>
                                    <option value="2">Hall-B</option>
                                    <option value="3">Hall-C</option>
                                    <option value="4">Hall-D</option>
                                    <option value="5">CHE-First Floor</option>
                                    <option value="6">DYE-Ground Floor</option>
                                    <option value="7">Packing Unit</option>
                                    <option value="8">Inspection Hall</option>
                                    <option value="9">Finishing Hall</option>
                                    <option value="10">Maintenance Hall</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6" id="StoreInchangediv">
                            <div class="form-group">
                                <label>Incharge<span id="Asterisk">*</span></label>
                                <select class="form-control" id="StoreInchangeId" name="StoreInchangeId" required>
                                    <option value="">-- Select Incharge --</option>
                                    <option value="1">John Doe</option>
                                    <option value="2">Jane Smith</option>
                                    <option value="3">Robert Johnson</option>
                                    <option value="4">Emily Davis</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6" id="Buttondivstart">
                            <div class="form-group" style="display: grid">
                                <label style="visibility: hidden;">Incharge<span id="Asterisk">*</span></label>
                                <button type="button" id="Btnstart" class="btn btn-added mr-2" fdprocessedid="56heq" style="width: 100px;background-color: #35b235;">Start</button>

                            </div>
                        </div>
                    </div>

                </form>
                <div class="px-1 mt-3">
                    <div id="deskContainer" class="border rounded p-2" style="background-color: #f0f8ff;">
                    </div>
                </div>
                <div class="px-1 mt-2 justify-content-center align-items-center">
                    <div class="row">
                        <!-- Terms and Conditions (Left Side) -->
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label>Comments</label>
                                <textarea class="form-controltext form-control" id="Notes" name="Notes" rows="2"></textarea>
                            </div>
                        </div>

                        <!-- Desk Info (Right Side) -->
                        <div class="col-lg-8 col-md-12 d-flex justify-content-end align-items-start">
                            <div class="form-group" style="display: flex; flex-direction: column; text-align: right;">
                                <label class="mb-1">No Of Desk : <span id="NoOfDeskCount">0</span></label>
                                <label>Audited Desk : <span id="AuditedDeskCount">0</span></label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-center align-items-center w-100">
                    <div class="row buttonAuditrow">
                        <div class="col-12">
                            
                            <div class="button-container d-lg-flex d-block justify-content-center">
                                <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="AuditcompletedBtn">

                                    <span>Completed</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="deskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document" style="max-width: 321px;margin-top: 63px;">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h2 id="AuditingModalText">Scan QR code</h2>
                <span id="AuditingScanClose" class="close" style="font-size:30px;cursor:pointer;color:white;" title="Close">×</span>
            </div>
            <div class="modal-body" style="display: flex; flex-direction: column;">

                <div id="cameraArea" style="flex: 7; background:#000; display:flex; align-items:center; justify-content:center; position:relative;">
                    <div id="reader" style="position: relative; overflow:hidden;">
                        <div id="scan-line"></div>
                    </div>
                    <!-- Camera switch button -->
                    <button id="switchCamera"
                            style="position:absolute; top:10px; right:10px; background:#fff; border:none; border-radius:50%; width:40px; height:40px; display:flex; align-items:center; justify-content:center; cursor:pointer;">
                        📷
                    </button>
                </div>

                <!-- Asset list 30% -->
                <div id="assetList" style="flex: 3; overflow-y:auto;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnOk" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ReportModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h2 id="AuditingModalText">Auditing Report</h2>
                <span id="AuditingReportClose" class="close" style="font-size:30px;cursor:pointer;color:white;" title="Close">×</span>
            </div>

            <div class="modal-body" style="max-height: 85vh; overflow-y: auto; overflow-x: hidden; padding: 0px 0px 10px 0px;">

                <div class="row quick-db m-b-5">
                    <div class="col-lg-12">
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                                <div class="card card-stats card-round quick-db-box">
                                    <div class="card-body ">
                                        <div class="row align-items-center">
                                            <div class="col-icon">
                                                <div class="icon-big text-center icon-db-green bubble-shadow-small">
                                                    <img src="/assets/moduleimages/inventory/managepopupicon_1.svg" />
                                                </div>
                                            </div>
                                            <div class="col col-stats ml-3">
                                                <div class="numbers">
                                                    <div class="card-category" id="ReportCounterTextBox1"></div>
                                                    <h4 class="card-title" id="ReportCounterValBox1" style="font-weight: 600;font-size: 14px;color: black;"></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                                <div class="card card-stats card-round quick-db-box">
                                    <div class="card-body ">
                                        <div class="row align-items-center">
                                            <div class="col-icon">
                                                <div class="icon-big text-center icon-db-orange bubble-shadow-small">
                                                    <img src="/assets/moduleimages/inventory/managepopupicon_2.svg" />
                                                </div>
                                            </div>
                                            <div class="col col-stats ml-3">
                                                <div class="numbers">
                                                    <div class="card-category" id="ReportCounterTextBox2"></div>
                                                    <h4 class="card-title" id="ReportCounterValBox2" style="font-weight: 600;font-size: 14px;color: black;"></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                                <div class="card card-stats card-round quick-db-box">
                                    <div class="card-body ">
                                        <div class="row align-items-center">
                                            <div class="col-icon">
                                                <div class="icon-big text-center icon-db-red bubble-shadow-small">
                                                    <img src="/assets/moduleimages/inventory/managepopupicon_3.svg" />
                                                </div>
                                            </div>
                                            <div class="col col-stats ml-3">
                                                <div class="numbers">
                                                    <div class="card-category" id="ReportCounterTextBox3"></div>
                                                    <h4 class="card-title" id="ReportCounterValBox3" style="font-weight: 600;font-size: 14px;color: black;"></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                                <div class="card card-stats card-round quick-db-box">
                                    <div class="card-body ">
                                        <div class="row align-items-center">
                                            <div class="col-icon">
                                                <div class="icon-big text-center icon-db-blue  bubble-shadow-small">
                                                    <img src="/assets/moduleimages/inventory/managepopupicon_4.svg" />
                                                </div>
                                            </div>
                                            <div class="col col-stats ml-3">
                                                <div class="numbers">
                                                    <div class="card-category" id="ReportCounterTextBox4"></div>
                                                    <h4 class="card-title" id="ReportCounterValBox4" style="font-weight: 600;font-size: 14px;color: black;"></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-1 mt-3">
                    <div id="statcDetailsContainer" class="" style="">
                    </div>
                </div>

                <div class="px-1 mt-3" style="overflow-x: auto;">
                    <div id="tablenotnullContainer" class="" style="">
                    </div>
                </div>

            </div>
           
        </div>
    </div>
</div>

<script src="https://unpkg.com/html5-qrcode"></script>
<script src="~/js/Auditing.js"></script>