<link href="~/css/qrgeneration.css" rel="stylesheet" />

<div class="row quick-db m-b-5">
    <div class="col-lg-12">
        <div class="row m-t-25">
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-green bubble-shadow-small">
                                    <img src="~/assets/moduleusedtetroone/asset/returnicon_1.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="">Total Assets</div>
                                    <h4 class="card-title" id="">1 / 0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-orange bubble-shadow-small">
                                    <img src="~/assets/moduleusedtetroone/asset/returnicon_2.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="">Mapped</div>
                                    <h4 class="card-title" id="">0 / 0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-red bubble-shadow-small">
                                    <img src="~/assets/moduleusedtetroone/asset/returnicon_3.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="">UnMapped</div>
                                    <h4 class="card-title" id="">1 / 0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-blue  bubble-shadow-small">
                                    <img src="~/assets/moduleusedtetroone/asset/returnicon_4.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="">Updated</div>
                                    <h4 class="card-title" id="">0 / 0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="filter-Column" class="Date-SearchColumn">
     <div class="month-piker d-flex">
      
        <div class="ftdate">
            <div class="row" id="fromtodateCol" style="display:none; margin-left:10px;">
                <div class="col-6" id="frmDate">
                    <div class="form-group d-flex align-items-center">
                        <label class="pr-1">From:</label>
                        <input type="date" class="form-control" id="FromDate" />
                    </div>
                </div>
                <div class="col-6" id="toDate">
                    <div class="form-group mx-2 d-flex align-items-center">
                        <label class="pr-1" id="toLbl">To:</label>
                        <input type="date" class="form-control" id="ToDate" />
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="d-flex justify-content-end">
        
         <button class="btn Bulk-Action" id="toggleCustomDate" type="button" title="Select Date Range">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
        <div class="searchbar">
            <input type="text" class="searchbar__input" name="q" id="tableFilter" placeholder="Search">
            <button type="submit" class="searchbar__button">
                <img src="~/assets/commonimages/search.svg" />
            </button>
        </div>

        <div class="datapiker ml-2 mt-1" style="position: relative;">
            <div class="add-imp-exp-btn">
                <div class="exportsiconpop">

                    <span class="pop">
                        <a id="AddQRGeneration" title="Add QR Generation">
                            <img src="~/assets/CommonImages/addicon.svg" style="height: 25px; width: 25px;" />
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="QRGenerationTableDynamic"></div>


<div id="QRBarcodeCanvas" class="offcanvas-container">
    <div class="offcanvas-header d-flex align-items-center justify-content-between">
        <h2 id="Headering">
            Barcode Generate
        </h2>
        <span id="CloseCanvas" class="close" style="font-size:30px;cursor:pointer;color:white;" title="Close">×</span>
    </div>

    <div class="offcanvas-body">
        <form id="BarcodeHeader" novalidate="novalidate">
            <div class="row mb-2" id="LOGDiv" style="display: none;">
                <div class="col-6 d-flex">
                    <label class="me-1 fw-bold">Created By:</label>
                    <label id="Createdby"></label>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <label class="me-1 fw-bold">Created Date:</label>
                    <label id="CreateDate"></label>
                </div>
            </div>

            <div class="row align-items-center">

                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Barcode No<span id="Asterisk">*</span></label>
                            <input type="text" class="form-control" id="BarcodeNumber" name="BarcodeNumber" placeholder="Barcode No" autocomplete="off" disabled required>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Plant<span id="Asterisk">*</span></label>
                        <select class="form-control" id="BranchId" name="BranchId" required disabled>
                            <option value="">--Select--</option>
                            <option value="14" selected>Aditya Factory</option>
                            <option value="15">Adhithiya Fabric Dyeing</option>
                            <option value="16">Adhithiya Printing & Embellishment</option>
                            <option value="17">Adhithiya Quality Control & Testing</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Type<span id="Asterisk">*</span></label>
                        <select class="form-control valid" id="Type" name="Type" required>
                            <option value="1">New</option>
                            <option value="2">Regenerate</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label>Asset Type<span id="Asterisk">*</span></label>
                        <select class="form-control" id="AssetType" name="AssetType" required>
                            <option value="">--Select--</option>
                            <option value="1" selected>IT Assets</option>
                            <option value="2">Non-IT Assets</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label>Category<span id="Asterisk">*</span></label>
                        <select class="form-control" id="Category" name="Category" required>
                            <option value="1">CCTV</option>
                            <option value="2">Laptop</option>
                            <option value="3">Printer</option>
                            <option value="4">Networking</option>
                            <option value="5">Monitor</option>
                            <option value="6">Accessories</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sub Category<span id="Asterisk">*</span></label> 
                        <select class="form-control" id="SubCategory" name="SubCategory" required>
                            <option value="" style="font-weight: 400;">-- Select --</option>
                            <option value="1">Computer &amp; Peripherals</option>
                            <option value="3">CCTV</option>
                            <option value="4">Network Equipments</option>
                            <option value="5">Phone Systems</option>
                            <option value="6">Softwares</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="BarcodeAssetDetails">
                        <table class="table table-bordered table-striped align-middle" id="barcodeAssetTable">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox" id="selectAllCheckbox">
                                    </th>
                                    <th style="display:none;">MappingId</th>
                                    <th style="display:none;">AssetId</th>
                                    <th>Asset No</th>
                                    <th>Asset Name</th>

                                    <th style="display:none;">BarCodeId</th>
                                </tr>
                            </thead>
                            <tbody id="barcodeTableBody">
                                <tr class="text-center text-muted">
                                    <td colspan="6"><i class="fas fa-info-circle me-2"></i> No records found</td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

            </div>
            <div class="row" id="toggleLabelPrintConfigDiv">
                <div class="col-md-12">
                    <label class="sndaryunitlbe mt-2" id="toggleLabelPrintConfig" style="cursor: pointer;color: #007bff !important;font-weight: 600;font-size: 13px !important;">+ Label Print Configuration</label>

                </div>
            </div>
            <div class="col-md-12">
                <div id="configFieldsContent" class="row g-3" style="display: none; border: 1px solid #ccc; padding: 1px; border-radius: 8px; margin-top: 10px;background-color: #f5f6f7;">


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Header<span id="Asterisk">*</span></label>
                            <select class="form-control" id="Header" name="Header" required="" disabled=""><option value="">--Select--</option><option value="1" selected>Company Name</option><option value="2" disabled="">Asset No</option><option value="3" disabled="">Warranty Expiry Date</option></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Line 1<span id="Asterisk">*</span></label>
                            <select class="form-control" id="line1" name="line1" required="" disabled=""><option value="">--Select--</option><option value="1" disabled="">Company Name</option><option value="2" selected>Asset No</option><option value="3" disabled="">Warranty Expiry Date</option></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Line 2<span id="Asterisk">*</span></label>
                            <select class="form-control" id="line2" name="line2" required="" disabled=""><option value="">--Select--</option><option value="1" disabled="">Company Name</option><option value="2" disabled="">Asset No</option><option value="3" selected>Warranty Expiry Date</option></select>
                        </div>
                    </div>

                    <!-- Connection Type -->
                    <div class="col-md-4">
                        <label for="connectionType" class="form-label">Connection Type<span id="Asterisk">*</span></label>
                        <select id="connectionType" class="form-control" required="">
                            <option value="usb" selected>USB</option>
                            <option value="lan">LAN</option>
                            <option value="wifi">WiFi</option>
                            <option value="bluetooth">Bluetooth</option>
                        </select>
                    </div>

                    <!-- Label Size -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Label Size<span id="Asterisk">*</span></label>
                            <select class="form-control" id="LabelSize" name="LabelSize" required=""><option value="">--Select--</option><option value="1">100 × 150 mm</option><option value="2">100 × 100 mm</option><option value="3">90 × 60 mm</option><option value="4">80 × 50 mm</option><option value="5" selected>60 × 40 mm</option><option value="6">50 × 25 mm</option><option value="7">100 × 50 mm</option><option value="8">75 × 50 mm</option><option value="9">70 × 50 mm</option><option value="10">40 × 30 mm</option><option value="11">90 × 40 mm</option><option value="12">80 × 30 mm</option><option value="13">30 × 20 mm</option><option value="14">210 × 297 mm (A4)</option><option value="15">148 × 210 mm (A5)</option><option value="16">105 × 148 mm (A6)</option><option value="17">60 × 30 mm</option></select>
                        </div>
                    </div>

                    <!-- USB Printer Name -->
                    <div id="usbFields" class="col-md-4 printer-fields">
                        <label for="usbPrinterName" class="form-label">USB Printer Name<span id="Asterisk">*</span></label>
                        <input type="text" id="usbPrinterName" class="form-control" placeholder="e.g. LP 46 NEO" value="SNBC TVSE LP 46 NEO BPLE" required="">
                    </div>

                    <!-- WiFi Printer Name -->
                    <div id="wifiFields" class="col-md-4 printer-fields" style="display: none;">
                        <label for="wifiPrinterName" class="form-label">WiFi Printer Name:</label>
                        <input type="text" id="wifiPrinterName" class="form-control" placeholder="e.g. WiFiPrinter01">
                    </div>

                    <!-- LAN Fields -->
                    <div id="lanFields" class="col-md-4 printer-fields" style="display: none;">
                        <label for="lanIp" class="form-label">LAN IP:</label>
                        <input type="text" id="lanIp" class="form-control mb-2" placeholder="e.g. 192.168.1.100">
                        <label for="lanPort" class="form-label">LAN Port:</label>
                        <input type="number" id="lanPort" class="form-control" value="9100">
                    </div>

                    <!-- Bluetooth Fields -->
                    <div id="bluetoothFields" class="col-md-4 printer-fields" style="display: none;">
                        <label for="bluetoothPort" class="form-label">Bluetooth Port:</label>
                        <input type="text" id="bluetoothPort" class="form-control" placeholder="e.g. COM5">
                    </div>

                    <div class="col-12 text-end mt-2 mb-2" style="display: flex;justify-content: end;">
                        <label id="closeLabelPrintConfig" style="cursor: pointer;color: #007bff !important;font-weight: 600;font-size: 13px !important;">✖ Close Configuration</label>
                    </div>
                </div>
            </div>

        </form>

    </div>

    <div class="offcanvas-footer">
        <div class="col-md-12 col-lg-12">
            <div class="form-group text-center">
                <div class="card-action">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="Save" fdprocessedid="gbuzm"><i class="fas fa-save mr-1"></i><span>Save</span></button>
                        <button type="button" class="btn quickbillbtn-outline mr-2" id="preview" fdprocessedid="3xij8h"><i class="fas fa-eye mr-1"></i><span>Save &amp; Preview</span></button>

                        <button type="button" class="btn quickbillbtn-outline mr-2" id="generate" fdprocessedid="se6dq"><i class="fas fa-print mr-1"></i><span>Save &amp; Print</span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="~/js/qrgeneration.js"></script>