<style>
    #dynamicProduction .row > .col-2 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #dynamicProduction .row > .col-1 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #RgbCol .table td {
        padding: .55rem;
    }

    #ManageStockTable {
        width: 100% !important;
    }

    .dataTables_scrollBody {
        height: 334px !important;
        margin-top: 0px !important;
        border-bottom: 1px solid #111;
        margin-bottom: 10px;
    }

    #RgbCol {
        white-space: nowrap;
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .Date-SearchColumn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: .5rem !important;
}

    .productionTable {
        width: 100%;
        border-collapse: collapse;
    }

    .table-wrapper {
        max-height: 222px;
        overflow-y: auto;
        display: block;
    }

    .productionTable thead th {
        position: sticky;
        top: 0;
        z-index: 2;
        background: #a3c1df;
    }

    table th {
        font-size: 12px;
        font-weight: 800;
    }

    .Managetable table > thead > tr > th:first-child {
        border-top-left-radius: 10px;
    }

    .Managetable table > thead > tr > th:last-child {
        border-top-right-radius: 10px;
    }

    .Managetable tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    .Managetable tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }
</style>

<link href="~/css/scrap.css" rel="stylesheet" />

<div class="row quick-db m-b-5">
    <div class="col-lg-12">
        <div class="row m-t-25">
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-green bubble-shadow-small">
                                    <img src="~/assets/moduleimages/inventory/manage stock icon 1.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="">Total</div>
                                    <h4 class="card-title" id=""> 7</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-orange bubble-shadow-small">
                                    <img src="~/assets/moduleimages/inventory/manage stock icon 2.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="">Draft</div>
                                    <h4 class="card-title" id="">2</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-red bubble-shadow-small">
                                    <img src="~/assets/moduleimages/inventory/manage stock icon 3.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="">Approved</div>
                                    <h4 class="card-title" id="">2</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-blue  bubble-shadow-small">
                                    <img src="~/assets/moduleimages/inventory/manage stock icon 4.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="">Authorized</div>
                                    <h4 class="card-title" id="">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="filter-Column" class="Date-SearchColumn">
    <div class="month-piker d-flex">
        

        <div class="ftdate">
            <div class="row" id="fromtodateCol" style="display:none; margin-left:10px;">
                <div class="col-6" id="frmDate">
                    <div class="form-group d-flex align-items-center">
                        <label class="pr-1">From:</label>
                        <input type="date" class="form-control" id="FromDate" />
                    </div>
                </div>
                <div class="col-6" id="toDate">
                    <div class="form-group mx-2 d-flex align-items-center">
                        <label class="pr-1" id="toLbl">To:</label>
                        <input type="date" class="form-control" id="ToDate" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
         <button class="btn Bulk-Action" id="toggleCustomDate" type="button" title="Select Date Range">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
        <div class="searchbar">
            <input type="text" class="searchbar__input" name="q" id="tableFilter" placeholder="Search">
            <button type="submit" class="searchbar__button">
                <img src="~/assets/commonimages/search.svg" />
            </button>
        </div>

        <div class="datapiker ml-2 mt-1" style="position: relative;">
            <div class="add-imp-exp-btn">
                <div class="exportsiconpop">

                    <span class="pop">
                        <a id="AddScrap" title="Add Scrap">
                            <img src="~/assets/CommonImages/addicon.svg" style="height: 25px; width: 25px;" />
                        </a>
                    </span>


                </div>
            </div>
        </div>
    </div>
</div>

<div id="ScrapDynamic"></div>

<!-- Modal -->
<div id="ScrapModal" class="modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content" style="border-radius: 8px; border: 3px solid #6a0dad;">

            <div class="modal-header"
                 style="background-color: #6a0dad; color: white; border-bottom: 2px solid #5a0099; padding: 10px 20px;">
                <h2 id="AuditingModalText" style="font-size: 20px; margin: 0;">Add Scraping</h2>
                <span id="ScrapClose" class="close"
                      style="font-size: 28px; cursor: pointer; color: white;"
                      title="Close modal">&times;</span>
            </div>

            <div class="modal-body" style="max-height: 70vh; overflow-y: auto; overflow-x: hidden; padding: 0px 0px 10px 0px;">
                <div class="Status-Div mt--2 d-none">
                    <fieldset class="expensefild_1">
                        <legend class="w-auto">Scrap Status</legend>
                        <div class="horizontal-timeline">
                            <div class="timeline-progress-line-fill"></div>
                            <div class="timeline-progress-line"></div>
                        </div>
                    </fieldset>
                </div>
                <div class="px-3">
                    <div class="row DynPageRow-Div">
                        <!--BillFromColumn-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" id="BillFromColumn" style="position: relative; ">
                            <form id="FormRightSideHeader" novalidate="novalidate">
                                <div class="row mt-2">
                                    <div class="col-lg-2 col-md-6 col-6" id="TransferNumberDiv">
                                        <div class="form-group">
                                            <label>Scrap No<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" id="ScrapNo" name="ScrapNo" placeholder="SCAP_001" autocomplete="off" required disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-6 col-6">
                                        <div class="form-group">
                                            <label>Date<span id="Asterisk">*</span></label>
                                            <input type="date" class="form-control valid" id="ScrapDate" name="ScrapDate" required="" autocomplete="no-0.6265589955605855" aria-invalid="false">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-6">
                                        <div class="form-group">
                                            <label>Plant<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="BranchId" name="BranchId" required>
                                                <option value="">--Select--</option>
                                                <option value="1">Sennkarathaaan Food And Beverages - Chennai</option>
                                                <option value="2">Sennkarathaaan Food And Beverages - Ganapathy</option>
                                                <option value="3">Sennkarathaaan Food And Beverages - Sivananda Colony</option>
                                                <option value="4">Sennkarathaaan Food And Beverages - Suguna</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-6 col-6">
                                        <div class="form-group">
                                            <label>Movement Type<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="MovementTypeId" name="MovementTypeId" required>
                                                <option value="">--Select--</option>
                                                <option value="1">Against Ticket</option>
                                                <option value="2">Against Service</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-6" id="TextboxbillNumberDiv" style="display: none;">
                                        <div class="form-group">
                                            <label><span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" id="BillNoTextBox" name="BillNoTextBox" placeholder="Ex.IGS-SR-0001" autocomplete="off" fdprocessedid="eb1wt7" required="">
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="px-3">
                    <div class="row DynmicTableRow">
                        <div class="container-fluid mt-2">
                            <div class="Purchasetable-container">
                                <div class="Purchasetable-scroll">
                                    <form id="AssetSection">
                                        <table class="table table-bordered" id="ScrapProductTable">
                                            <thead class="Dynthead">
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Asset No <span style="visibility: hidden;">11111111111111</span></th>
                                                    <th>Asset Name <span style="visibility: hidden;">11111111111111111111111</span></th>
                                                    <th>Condition <span style="visibility: hidden;">11111111</span></th>
                                                    <th>Warranty Type <span style="visibility: hidden;">111</span></th>
                                                    <th>Comments <span style="visibility: hidden;">1111111111111111111</span></th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="ScrapProductTablebody" class="Dyntbody">
                                                <!--Add Item-->
                                                <tr id="AddItemButtonRow">
                                                    <td colspan="7" class="add-item">
                                                        <div class="add-item">
                                                            <a id="AddItemBtn" class="d-flex justify-content-center">+ Add Item</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr id="SubtotalRow" style="background-color: #e4edf5;">
                                                    <td colspan="7" style="padding: 8px;">
                                                        <div class="scrap-row" style="justify-content: end;">
                                                            <!-- Left: Scrap details -->
                                                            <div id="scrapPreviewWrapper" style="background-color: rgb(249, 249, 249); border-radius: 5px; padding: 5px; display: none;">
                                                                <div id="scrapPreviewContainer" class="scrap-preview">
                                                                    <h4 id="PrintcompanyName"></h4>
                                                                    <div class="info-container mt-1">
                                                                        <div id="" class="info-row">
                                                                            <div class="info-label-Purchase">Date &amp; Time</div>
                                                                            <div class="info-colon">:</div>
                                                                            <div class="info-value">
                                                                                <a id="Printdatetime" name="Printdatetime"></a>
                                                                            </div>
                                                                        </div>
                                                                        <div id="" class="info-row">
                                                                            <div class="info-label-Purchase">Reason</div>
                                                                            <div class="info-colon">:</div>
                                                                            <div class="info-value">
                                                                                <a id="PrintReason" name="PrintReason"></a>
                                                                            </div>
                                                                        </div>
                                                                        <div id="" class="info-row">
                                                                            <div class="info-label-Purchase">Requested By</div>
                                                                            <div class="info-colon">:</div>
                                                                            <div class="info-value">
                                                                                <a id="Printrequested" name="Printrequested"></a>
                                                                            </div>
                                                                        </div>
                                                                        <div id="" class="info-row">
                                                                            <div class="info-label-Purchase">Authorized By</div>
                                                                            <div class="info-colon">:</div>
                                                                            <div class="info-value">
                                                                                <a id="PrintAuthenticated" name="PrintAuthenticated"></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <!-- Right: Form inputs -->
                                                            <div class="scrap-inputs">
                                                                <div class="row" style="margin: 0px;">
                                                                    <div class="noOfdivRow col-12">
                                                                        <div class="form-group">
                                                                            <label>No Of Asset</label>
                                                                            <input type="text" id="AssetTotal" name="AssetTotal" disabled="" class="form-control" placeholder="0.00" fdprocessedid="l8jnr">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6 statusdiv" style="display: none;">
                                                                        <div class="form-group">
                                                                            <label>Status <span class="text-danger">*</span></label>
                                                                            <select id="ScrapingStatusId" name="ScrapingStatusId" class="form-control" required="" fdprocessedid="ty37t"><option value="" style="display: none;">--Select--</option><option value="1">Draft</option><option value="2">Approved</option><option value="11" style="display: none;">Authorized</option><option value="12">Rejected</option><option value="10" selected>Cancelled</option></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-3">
                    <div class="row DynmicTableRow">

                        <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-2 order-md-2 order-lg-1 AddnotesDiv">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Notes</label>
                                        <textarea class="form-controltext" id="AddNotesText" name="AddNotesText" rows="3" style="height:84px;" autocomplete="no-0.686925315969711"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-2 order-md-2 order-lg-1 AddnotesDiv">
                            <div class="row"> 
                                <div class="col-12" style="height: 120px;margin-top:18px;">
                                    <div class=" border border-radius" style="background-color:#F1F0EF; max-height:10.5rem;height:87px;">
                                        <!-- Add a custom button for choosing files -->
                                        <label class=" d-flex justify-content-center align-content-center mt-2" style="text-decoration: underline; color: rgb(125, 124, 124);">
                                            <b>Click Here to Attach your files</b>
                                            <input type="file" id="fileInput" multiple="" class="custom-file-input valid" aria-invalid="false">
                                        </label>
                                        <div class="file-preview d-flex justify-content-center" id="preview" style="display: block;">
                                            <div class="attachrow">
                                                <div class="attachcolumn">
                                                    <ul class="row justify-content-center px-3 mb-2" id="selectedFiles"></ul>
                                                </div>
                                                <div class="attachcolumn">
                                                    <ul class="row justify-content-center px-3 mb-2" id="ExistselectedFiles"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center w-100">
                <div class="row">
                    <div class="col-12">
                        <div class="button-container d-lg-flex d-block justify-content-center">
                            <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="ScrapSaveBtn" fdprocessedid="qcycje">
                                <i class="fas fa-save mr-1"></i>
                                <span>Save</span><span class="shortcut-key">[ Ctrl+S ]</span>
                            </button>
                            <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="btnScrapsaveprintbtn" fdprocessedid="qd6cup">
                                <i class="fas fa-print mr-1"></i> <span>Save &amp; Print</span><span class="shortcut-key">[ Alt + P ]</span>
                            </button>
                            <button type="button" class="btn quickbillbtn-outline mr-2 mt-lg-0 mt-2" id="ScrapCancelBtn" fdprocessedid="q2ctpu">
                                <i class="fas fa-times mr-1"></i> <span>Cancel</span><span class="shortcut-key">[ Alt + C ]</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<div id="ProductModal" class="modal" data-bs-keyboard="false" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xxl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h2 id="">Add Item</h2>
                <span id="AddProductClose" class="close d-none" style="font-size:30px;cursor:pointer;color:white;" title="Close">×</span>
            </div>
            <div class="d-flex justify-content-end" style="padding: .5rem !important;">

                <!-- Search Input -->
                <div class="searchbar" style="margin: 20px 4px 0px 10px;">
                    <input type="text" class="searchbar__input" name="q" id="AdditemSearch" placeholder="Search" style="height: 34px;" autocomplete="off" fdprocessedid="jvzhtr">
                    <button type="submit" class="searchbar__button" style="height: 34px;" fdprocessedid="ffoy2l">
                        <img src="/assets/commonimages/search.svg">
                    </button>
                </div>
            </div>
            <div class="modal-body" style="max-height: 60vh; overflow-y: auto;overflow-x: hidden;">
                <!-- Content goes here -->
                <div class="row">
                    <!--Add Item Table-->
                    <div class="col-12">
                        <div class="table-wrapper">
                            <table class="table table-bordered mb-0" id="ProductItemTable">
                                <thead class="Additemthead">
                                    <tr>
                                        <th scope="col">Asset No</th>
                                        <th scope="col">Asset Name</th>
                                        <th scope="col">Asset Type</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Serial Number</th>
                                        <th scope="col">Model Number</th>
                                    </tr>
                                </thead>
                                <tbody class="Additemtbody" id="ProductItem-table-body">
                                    <tr>
                                        <td valign="top" colspan="8" class="dataTables_empty">
                                            <div class="d-flex justify-content-center">
                                                <img src="/assets/commonimages/nodata.svg" style="margin-right: 10px;">
                                                No Record Found
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between align-items-center w-100">
                <div class="">
                    <p class="pt-1 TotalSelectedItmsPra cursor-pointer text-primary  mb-0" style="font-weight: 700; display: none;"> <span id="TotalItemSelect"></span> Items Selected</p>
                </div>
                <div>
                    <button type="button" id="BtnAdd" class="btn btn-added mr-2" fdprocessedid="56heq">Update</button>
                    <button type="button" id="" class="btn modal-close-btn" data-dismiss="modal" fdprocessedid="fmiob" autocomplete="no-0.023445087069112414">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/scrap.js"></script>
