#assetMapRetuTable {
    width: 100% !important;
    margin-top: -16px !important;
}

.MappingThreadrow th, .ReturnThreadrow th, #DeleteThead th {
    position: sticky;
    top: -1px;
    z-index: 2;
    background: #a3c1df;
}

#AssetMapRetuTableDynamic {
    margin-top: -12px;
}
.Date-SearchColumn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: .5rem !important;
}