#BindFollowupInfo {
    margin-top: -35px !important;
}


#TicketingTable {
    width: 100% !important;
}
#TicketingTable_wrapper > div.dataTables_scroll > div.dataTables_scrollBody {
    max-height: 339px !important;
}
.dataTables_scrollBody {
    height: 350px !important;
    margin-top: -18px !important;
    border-bottom: 1px solid #111;
    margin-bottom: 10px;
}

.file-preview {
    height: 4rem;
}
.attachcolumn {
    margin-top: 0px;
}
#Attachrow ul {
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0px;
}

    #Attachrow ul li {
        margin: 0px 10px 5px 10px;
    }

    .DynrowRemove {
        background: none;
        color: red;
        transition: background 0.3sease, border-color 0.3sease, box-shadow 0.3sease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        font-size: 12px;
        border: 1px solid red;
        width: 30px;
        border-radius: 50%;
        height: 30px;
        padding: 4px;
        margin-top: 36px !important;
    }