@{
    string data = Convert.ToString(TempData["UserAccess"]);
    UserAccessOption access = GenericTetroONE.GetUserAccessSession(UserScreen.Enquiry, Context.Session);
}

<link href="~/css/enquiry.css" rel="stylesheet" />
<link href="~/assets/css/mdtimepicker.css" rel="stylesheet" />

<div class="row quick-db m-b-5">
    <div class="col-lg-12">
        <div class="row m-t-25">
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-green bubble-shadow-small">
                                    <img src="~/assets/moduleimages/enquirycountboximg/total enquiry.png" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox1"></div>
                                    <h4 class="card-title" id="CounterValBox1"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-orange bubble-shadow-small">
                                    <img src="~/assets/moduleimages/enquirycountboximg/open enquiry 1.png" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox2"></div>
                                    <h4 class="card-title" id="CounterValBox2"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-red bubble-shadow-small">
                                    <img src="~/assets/moduleimages/enquirycountboximg/close enquiry image 1.png" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox3"></div>
                                    <h4 class="card-title" id="CounterValBox3"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-blue  bubble-shadow-small">
                                    <img src="~/assets/moduleimages/enquirycountboximg/followupnew enquiry new.png" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox4"></div>
                                    <h4 class="card-title" id="CounterValBox4"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="filter-Column" class="Date-SearchColumn">
    <div class="month-piker d-flex">
        <div class="dropdown">
            <button class="btn Bulk-Action dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bulk-icon" width="16" height="16" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1363 3.02051L12.1363 3.02052ZM12.3337 3.1181L20.0976 7.00006L12.3337 10.882L4.56978 7.00006L12.3337 3.1181ZM12.1363 10.9796C12.1361 10.9797 12.1361 10.9797 12.1364 10.9796ZM12.5311 10.9796C12.5313 10.9797 12.5313 10.9797 12.5311 10.9796ZM12.5311 3.02052L12.5311 3.02051ZM12.0571 1.0848C12.2399 1.05051 12.4275 1.05051 12.6103 1.0848C12.8268 1.12541 13.0198 1.22394 13.1131 1.27155C13.1227 1.27646 13.1313 1.28082 13.1387 1.28452L22.7809 6.10564C23.1197 6.27503 23.3337 6.62129 23.3337 7.00006C23.3337 7.37884 23.1197 7.7251 22.7809 7.89449L13.1387 12.7156C13.1313 12.7193 13.1227 12.7237 13.1131 12.7286C13.0198 12.7762 12.8268 12.8747 12.6103 12.9153C12.4275 12.9496 12.2399 12.9496 12.0571 12.9153C11.8407 12.8747 11.6476 12.7762 11.5543 12.7286C11.5447 12.7237 11.5361 12.7193 11.5287 12.7156L1.8865 7.89449C1.54772 7.7251 1.33372 7.37884 1.33372 7.00006C1.33372 6.62129 1.54772 6.27503 1.8865 6.10564L11.5287 1.28452C11.5361 1.28082 11.5447 1.27646 11.5543 1.27155C11.6476 1.22394 11.8407 1.12541 12.0571 1.0848ZM1.43929 11.5529C1.68628 11.0589 2.28695 10.8586 2.78093 11.1056L12.3337 15.882L21.8865 11.1056C22.3805 10.8586 22.9812 11.0589 23.2281 11.5529C23.4751 12.0468 23.2749 12.6475 22.7809 12.8945L13.1387 17.7156C13.1313 17.7193 13.1227 17.7237 13.1131 17.7286C13.0198 17.7762 12.8268 17.8747 12.6103 17.9153C12.4275 17.9496 12.2399 17.9496 12.0571 17.9153C11.8407 17.8747 11.6476 17.7762 11.5543 17.7286C11.5447 17.7237 11.5361 17.7193 11.5287 17.7156L1.8865 12.8945C1.39252 12.6475 1.1923 12.0468 1.43929 11.5529ZM12.1363 15.9796C12.1361 15.9797 12.1361 15.9797 12.1364 15.9796ZM12.5311 15.9796C12.5313 15.9797 12.5313 15.9797 12.5311 15.9796ZM1.43929 16.5529C1.68628 16.0589 2.28695 15.8586 2.78093 16.1056L12.3337 20.882L21.8865 16.1056C22.3805 15.8586 22.9812 16.0589 23.2281 16.5529C23.4751 17.0468 23.2749 17.6475 22.7809 17.8945L13.1387 22.7156C13.1313 22.7193 13.1227 22.7237 13.1131 22.7286C13.0198 22.7762 12.8268 22.8747 12.6103 22.9153C12.4275 22.9496 12.2399 22.9496 12.0571 22.9153C11.8407 22.8747 11.6476 22.7762 11.5543 22.7286C11.5447 22.7237 11.5361 22.7193 11.5287 22.7156L1.8865 17.8945C1.39252 17.6475 1.1923 17.0468 1.43929 16.5529Z" fill="#525A6A"></path>
                </svg>
                Month
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" style="min-width: 140px;">
                <li><a id="downloadExcelBtn" class="dropdown-item active">Month</a></li>
                <li><a class="dropdown-item" id="bulkEmployee">Custom</a></li>
            </ul>
        </div>

        <div class="ftdate">
            <div class="row" id="fromtodateCol" style="display:none;">
                <div class="col-6" id="frmDate">
                    <div class="form-group d-flex align-items-center">
                        <label class="pr-1">From:</label>
                        <input type="date" class="form-control" id="FromDate" />
                    </div>
                </div>
                <div class="col-6" id="toDate">
                    <div class="form-group mx-2 d-flex align-items-center">
                        <label class="pr-1" id="toLbl">To:</label>
                        <input type="date" class="form-control" id="ToDate" />
                    </div>
                </div>
            </div>
            <div class="" id="monthPickerCol">
                <div class="date-carousel" id="datemonth">
                    <div class="date-nav">
                        <button class="nav-button" id="decrement-month-btn2">◄</button>
                        <span class="month-year" id="dateDisplay2"></span>
                        <button class="nav-button" id="increment-month-btn2" style="display: none;">►</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <div class="searchbar">
            <input type="text" class="searchbar__input" name="q" id="tableFilter" placeholder="Search">
            <button type="submit" class="searchbar__button">
                <img src="~/assets/commonimages/search.svg" />
            </button>
        </div>
        <div class="datapiker ml-2 mt-1" style="position: relative;">
            <div class="add-imp-exp-btn">
                <div class="exportsiconpop">
                    @{
                        if (access.Create)
                        {
                            <span class="pop">
                                <a id="customBtn_enquiryTable" title="Add Enquiry">
                                    <img src="~/assets/CommonImages/addicon.svg" style="height: 25px; width: 25px;" />
                                </a>
                            </span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="" id="EnquiryGridDynamic">
    <div class="table-responsive">
        <table class="table table-rounded dataTable data-table table-striped tableResponsive" id="enquiryTable"></table>
    </div>
</div>


<!--dynamic test-->
<!---->
<div class="offcanvas-container" id="InsertEnquiryDetails">
    <!-- Off-Canvas Header -->
    <div class="offcanvas-header off-canvas-content d-flex align-items-center justify-content-between">
        <h2 class="ms-auto" id="EnquiryPopupHeader">Add Enquiry Info</h2>
        <span id="CloseCanvas" class="close" style="font-size:30px;cursor:pointer;color:white;" title="Close">×</span>
    </div>
    <!-- Off-Canvas Body -->
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Enquiry Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="InsertEnquiryForm" class="EnquiryInsert">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Enquiry No</label>
                                            <input type="text" class="form-control" id="EnquiryNo" name="EnquiryNo" autocomplete="off" placeholder="Enquiry No" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Enquiry Type<span id="Asterisk">*</span></label>
                                            <select class="form-control EnquiryMediumId" id="EnquiryTypeId" autocomplete="off" name="EnquiryTypeId" required>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Date<span id="Asterisk">*</span></label>
                                            <input type="date" id="EnquiryDate" name="EnquiryDate" class="form-control" autocomplete="off" required placeholder="Select the Date">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label> Person Name<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" id="EnquiryPersonName" name="EnquiryPersonName" autocomplete="off" placeholder="Person Name" oninput="Common.allowOnlyTextLengthwithwhitespace(this,25)" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label for="ContactNumber">Contact No<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" id="ContactNumber" name="ContactNumber" minlength="10" maxlength="10" autocomplete="off" placeholder="Ex:9876543210" oninput="Common.allowOnlyNumberLength(this,10)" required>
                                            @*                             <small id="ContactNumberError" class="form-text text-danger" style="display:none;">Please enter at least 10 characters..</small>
                                            *@
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" id="EnquiryEmail" name="EnquiryEmail" autocomplete="off" placeholder="Ex: example@gmail.com" oninput="Common.allowEmailAndLength(this, 50)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Query Section -->
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="form-group" id="Query" name="Query">
                                            <label for="queryTextarea" style="margin-bottom: 2px;">Query<span id="Asterisk">*</span></label>
                                            <textarea class="form-control" id="queryTextarea" rows="2" cols="38" autocomplete="off" maxlength="250" required
                                                      oninput="Common.allowAllCharacters(this,150)"></textarea>
                                        </div>
                                    </div>

                                    <!-- Right Side Section -->
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" id="AttendHoleDivHide">
                                        <!-- Attendant -->
                                        <div class="form-group">
                                            <label id="ForLableEmpAttend">Attendant<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="AttendantId" autocomplete="off" name="AttendantId" required>
                                                <option value="">-- Select--</option>
                                            </select>
                                        </div>
                                        <div class="" id="LookForwardHoleDivHide">
                                            <!-- Follow Up -->
                                            <div class="form-check d-flex align-items-center mt-2 maxdevicecolumns">
                                                <input class="form-check-input isLookUpenq me-2" type="checkbox" id="EnquiryIsLookUp" name="EnquiryIsLookUp" value="Follow up">
                                                <label class="form-check-label me-2  newlabelFollowupto" for="EnquiryIsLookUp"><b>Follow Up</b></label>
                                                <div class="form-group isLookUpenqdate d-none">
                                                    <input type="date" class="form-control isLookUp_enq" id="EnquiryLookUpDate" name="EnquiryLookUpDate" required="">
                                                </div>
                                            </div>

                                            <!-- Assign To -->
                                            <div class="form-check d-flex align-items-center maxdevicecolumns">
                                                <input class="form-check-input IsForwardOptionEnquiry me-2" type="checkbox" id="EnquiryIsForwardOption" name="EnquiryIsForwardOption">
                                                <label class="form-check-label me-2  newlabelassignto" for="EnquiryIsForwardOption"><b>Assign To</b></label>
                                                <div class="form-group forward-option d-none">
                                                    <select class="form-control ForwardOption_Enquiry" id="ForwardEmpId" name="ForwardEmpId" required>
                                                        <option value="">-- Select--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="" id="CheckInOutHoleDivHide">
                                            <!-- Check In -->
                                            <div class="form-check d-flex align-items-center mt-2 p-0 maxdevicecolumns">
                                                <label class="form-check-label me-2 ml-2"><b>In Time</b></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control mydatetimepicker" id="CheckIn" name="CheckIn" required style="background: #ffffff;">
                                                </div>
                                            </div>
                                            <!-- Check Out -->
                                            <div class="form-check d-flex align-items-center mt-1 p-0 maxdevicecolumns">
                                                <label class="form-check-label me-2"><b>Out Time</b></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control mydatetimepicker" id="CheckOut" name="CheckOut" style="background: #ffffff;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group" id="Comments" name="Comments">
                                            <label for="commentsTextarea" style="margin-bottom: 2px;">Comments<span id="Asterisk">*</span></label>
                                            <textarea class="form-controltext" id="commentsTextarea" rows="2" autocomplete="off" maxlength="250"
                                                      oninput="Common.allowAllCharacters(this,150)" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-2" id="StaticAttachment">
                                        @* <div class=" border border-radius" style="background-color:#F1F0EF; max-height:10.5rem;height: 118px;">
                                            <!-- Add a custom button for choosing files -->
                                            <label class=" d-flex justify-content-center align-content-center mt-1" style="text-decoration:underline; color:#7D7C7C;">
                                                <b>Click Here to Attach your files</b>
                                                <input type="file" id="fileInput" multiple class="custom-file-input" />
                                            </label>
                                            <div class="file-preview d-flex justify-content-center" id="preview">
                                                <div class="attachrow">
                                                    <div class="attachcolumn">
                                                        <ul id="selectedFiles"></ul>
                                                    </div>
                                                    <div class="attachcolumn"><ul id="ExistselectedFiles"> </ul></div>
                                                </div>
                                            </div>
                                        </div> *@

                                        <div class="addterms-Attchbg mb-2 mt-2">
                                            <div class="row">
                                                <div class="col-12" style="height: 120px;margin-top:5px;">
                                                    <div class=" border border-radius" style="background-color:#F1F0EF; max-height:10.5rem;height: 120px;">
                                                        <!-- Add a custom button for choosing files -->
                                                        <label class=" d-flex justify-content-center align-content-center mt-3 " style="text-decoration:underline; color:#7D7C7C;">
                                                            <b>Click Here to Attach your files</b>
                                                            <input type="file" id="fileInput" multiple="" class="custom-file-input valid" aria-invalid="false">
                                                        </label>
                                                        <div class="file-preview d-flex justify-content-center" id="preview" style="display: block;">
                                                            <div class="attachrow">
                                                                <div class="attachcolumn">
                                                                    <ul class="row justify-content-center px-3 mb-2" id="selectedFiles"></ul>
                                                                </div>
                                                                <div class="attachcolumn"><ul class="row justify-content-center px-3 mb-2" id="ExistselectedFiles"> </ul></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12" id="HideEnquiryStatus">
                                        <div class="form-group">
                                            <label>Enquiry Status<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="EnquiryStatusId" name="EnquiryStatusId" required>
                                                <option value="">-- Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12" id="followupdetails">
                <div class="accordion">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Enquiry Followup Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">

                            <div class="d-flex justify-content-end align-items-start" style=" position: absolute; right: 8%; top: 58px; z-index: 999999;">
                                <button id="dyanmicplusbtn" class="btn AddStockBtn" type="button">
                                    <i class="fas fa-plus" id="AddButton"></i>
                                </button>
                            </div>
                            <div class="container-fluid">
                                <form id="DynamicFollowupDetails" class="w-100">
                                    <div class="row" id="followupinfo">
                                        <div class="col-12">
                                            <div id="duplicaterow" class="Enquiryfild"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="col-md-12 col-lg-12">
            <div class="form-group text-center">
                <div class="card-action">
                    <a class="btn btn-success m-r-20 text-white" id="InsertEquiry">Save</a>
                    <a class="btn btn-update m-r-20 text-white" id="UpdateEquiry">Update</a>
                </div>


            </div>
        </div>
    </div>
</div>

<script>
    var access = @Html.Raw(Json.Serialize(access));
</script>

<script>

    $(document).ready(function () {
        $(document).on('click', '#CloseEnquire', function () {
            $("#InsertEnquiryDetails").css("width", "0%");
            $('.content-overlay').fadeOut();
            $('#fadeinpage').removeClass('fadeoverlay');
        });
    });

</script>


<script src="~/js/enquiry.js"></script>
<script src="~/assets/js/mdtimepicker.js"></script>
<script>
    document.getElementById('EnquiryIsLookUp').addEventListener('change', function () {
        const datePicker = document.querySelector('.isLookUpenqdate');
        if (this.checked) {
            datePicker.style.display = 'block';
            this.parentElement.parentElement.style.marginTop = '-3px';
        } else {
            datePicker.style.display = 'none';
            this.parentElement.parentElement.style.marginTop = '0';
        }
    });
</script>
<script>
    document.getElementById('EnquiryIsForwardOption').addEventListener('change', function () {
        const selectDropdown = document.querySelector('.forward-option');
        if (this.checked) {
            selectDropdown.style.display = 'block';
            this.parentElement.parentElement.style.marginTop = '-3px';
        } else {
            selectDropdown.style.display = 'none';
            this.parentElement.parentElement.style.marginTop = '0';
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Follow Up Checkbox
        document.getElementById("EnquiryIsLookUp").addEventListener("change", function () {
            document.querySelector(".isLookUpenqdate").classList.toggle("d-none", !this.checked);
        });

        // Assign To Checkbox
        document.getElementById("EnquiryIsForwardOption").addEventListener("change", function () {
            document.querySelector(".forward-option").classList.toggle("d-none", !this.checked);
        });
    });

</script>