@{
    UserAccessOption access = GenericTetroONE.GetUserAccessSession(UserScreen.Distributor, Context.Session);
}
<link href="~/css/client.css" rel="stylesheet" />


<div class="row quick-db m-b-5">
    <div class="col-lg-12">
        <div class="row m-t-25">
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-green bubble-shadow-small">
                                    <img id="CounterImage1" src="~/assets/moduleimages/contact/distributoricon_1.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox1"></div>
                                    <h4 class="card-title" id="CounterValBox1"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-orange bubble-shadow-small">
                                    <img id="CounterImage2" src="~/assets/moduleimages/contact/distributoricon_2.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox2"></div>
                                    <h4 class="card-title" id="CounterValBox2"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-red bubble-shadow-small">
                                    <img id="CounterImage3" src="~/assets/moduleimages/contact/distributoricon_3.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox3"></div>
                                    <h4 class="card-title" id="CounterValBox3"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-blue  bubble-shadow-small">
                                    <img id="CounterImage4" src="~/assets/moduleimages/contact/distributoricon_4.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox4"></div>
                                    <h4 class="card-title" id="CounterValBox4"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-end mr-2">
    <div class="searchbar">
        <input type="text" class="searchbar__input" name="q" id="tableFilter" placeholder="Search">
        <button type="submit" class="searchbar__button">
            <img src="~/assets/commonimages/search.svg" />
        </button>
    </div>
    <div class="datapiker ml-2 mt-1" style="position: relative;">
        <div class="add-imp-exp-btn">
            <div class="exportsiconpop">
                @{
                    if (access.Create)
                    {
                        <span class="pop">
                            <a id="AddClient" title="Add Client">
                                <img src="~/assets/CommonImages/addicon.svg" style="height: 25px; width: 25px;" />
                            </a>
                        </span>
                    }
                }
            </div>
        </div>
    </div>
</div>

@* <ul class="nav nav-tabs pl-2 mt-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link navbar-tab titleForHeaderProductTab active this" id="DistributorData-tab" data-bs-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Distributor</a>
    </li>

    <li class="nav-item" role="presentation">
        <a class="nav-link navbar-tab titleForHeaderProductTab" id="DirectClientData-tab" data-bs-toggle="tab" role="tab" aria-controls="home" aria-selected="true">DirectClient</a>
    </li>
</ul>
 *@
<div class="" id="ClientGridDynamic" style="margin-top:-12px;">
    <div class="table-responsive">
        <table class="table table-rounded dataTable data-table table-striped tableResponsive" id="ClientTable"></table>
    </div>
</div>

<div id="ClientCanvas" class="offcanvas-container">
    <div class="offcanvas-header d-flex align-items-center justify-content-between">
        <h2 id="ClientHeader">Add New Client</h2>
        <span id="CloseCanvas" class="close"
              style="font-size:30px;cursor:pointer;color:white;"
              title="Close">&times;</span>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Client Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="FormClient">
                                <div class="row">
                                    @* <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                    <div class="form-group">
                                    <label>Distributor No</label>
                                    <input type="text" class="form-control" placeholder="Ex : KGS_D.No_101" id="ClientNo" name="ClientNo" disabled />
                                    </div>
                                    </div> *@
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Client Type<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="ClientTypeId" name="ClientTypeId" required>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label id="ClientTypeName">Company Name<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" placeholder="Ex: Anegan DS" id="ClientName" name="ClientName" maxlength="50" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 ">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" placeholder="Ex: 101, Ashoka Nagar" id="Address" name="Address" maxlength="500" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 ">
                                        <div class="form-group">
                                            <label>City<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" placeholder="Ex: Chennai" id="City" name="City" required oninput="Common.allowOnlyTextLength(this,50)" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>State</label>
                                            <select class="form-control" id="StateId" name="StateId" required>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <input type="text" class="form-control" placeholder="Ex: India" id="Country" name="Country" oninput="Common.allowOnlyTextLength(this,20)" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Zipcode</label>
                                            <input type="text" class="form-control" placeholder="Ex: 600028" id="ZipCode" name="ZipCode" oninput="Common.allowOnlyNumberLength(this,6)" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Contact No<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" placeholder="Ex:9876543210" id="ContactNumber" minlength="10" maxlength="10" name="ContactNumber" oninput="Common.allowOnlyNumberLength(this,10)" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Ex: example@gmail.com" id="Email" name="Email" oninput="Common.allowEmailAndLength(this, 50)" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2" id="GSTNone">
                                        <div class="form-group">
                                            <label>GST Number</label>
                                            <input type="text" class="form-control" placeholder="Ex: 27AAACB1234C1Z5" id="GSTNumber" name="GSTNumber" oninput="Common.allowGSTNumber(this, 15)" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Max Credit Limit<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" placeholder="Max Credit Limit" id="CreditLimit" name="CreditLimit" oninput="Common.allowOnlyNumberLength(this,8)" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2" id="CurrentlimitHide">
                                        <div class="form-group">
                                            <label>Current Credit</label>
                                            <input type="text" class="form-control" placeholder="0.00" id="CurrentCreditLimit" name="CurrentCreditLimit" disabled />
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3 col-sm-3 col-6" style="margin-top: 35px;" id="IsActiveHide">
                                        <div class="form-group">
                                            <input type="checkbox" id="IsActive" name="IsActive">
                                            <label for="IsActive"> Is Active </label>
                                        </div>
                                    </div>


                                    <div class="col-md-12 col-lg-12 col-sm-12 col-12 mt-2">
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <textarea class="form-control" id="Remark" autocomplete="off" name="Remark" rows="1" maxlength="500" placeholder="Remarks"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2" id="Attachrow">
                                        <div class=" border border-radius" style="background-color:#F1F0EF; max-height:10.5rem;height: 96px;">
                                            <!-- Add a custom button for choosing files -->
                                            <label class=" d-flex justify-content-center align-content-center mt-1" style="text-decoration:underline; color:#7D7C7C;">
                                                <b>Click Here to Attach your files</b>
                                                <input type="file" id="fileInput" multiple="" class="custom-file-input">
                                            </label>
                                            <div class="file-preview d-flex justify-content-center" id="preview">
                                                <div class="attachrow">
                                                    <div class="attachcolumn">
                                                        <ul class="row justify-content-center px-3 mb-2" id="selectedFiles"></ul>
                                                    </div>
                                                    <div class="attachcolumn"><ul class="row justify-content-center px-3 mb-2" id="ExistselectedFiles"></ul></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="accordion" id="ContactPersonAccord">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Contact Person Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">

                            <div class="d-flex justify-content-end align-items-start">
                                <button id="" class="btn AddStockBtn" type="button" onclick="duplicateRow(this)">
                                    <i class="fas fa-plus" id="AddButton"></i>
                                </button>
                            </div>
                            <form id="FormContactClient">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapseOne6" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Product Mapping Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="FormProductData">
                                <div class="row mt--2" id="BindProductData">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @* <div class="col-12" id="EligibilityHide">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Eligibility Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="FormEligibility">
                                <fieldset>
                                    <legend>Crates</legend>
                                    <div class="row Clientcontact_1">

                                        <div class="col-md-4 col-lg-4 col-sm-4 col-6">
                                            <div class="form-group">
                                                <label>Collabrated Date<span id="Asterisk">*</span></label>
                                                <input type="date" class="form-control" id="CollaboratedDate" name="CollaboratedDate" required />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-sm-4 col-6">
                                            <div class="form-group">
                                                <label>Expiry Date<span id="Asterisk">*</span></label>
                                                <input type="date" class="form-control" id="ExpiryDate" name="ExpiryDate" />
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-lg-4 col-sm-4 col-6">
                                            <div class="form-group">
                                                <label>Inv Amount</label>
                                                <input type="text" class="form-control" placeholder="0.00" id="InvoiceAmount" name="InvoiceAmount" oninput="Common.allowOnlyNumbersAndAfterDecimalTwoVal(this,8)" required />
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                            <div class="form-group">
                                                <label>Per Crate Cost<span id="Asterisk">*</span></label>
                                                <input type="text" class="form-control" placeholder="0.00" id="PerCrateCost" name="PerCrateCost" oninput="Common.allowOnlyNumbersAndAfterDecimalTwoVal(this,8)" required />
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                            <div class="form-group">
                                                <label>No of Crates</label>
                                                <input type="text" class="form-control" placeholder="0.00" id="NoOfCrates" name="NoOfCrates" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                            <div class="form-group">
                                                <label> InWard</label>
                                                <input type="text" class="form-control" placeholder="Inward" id="Inward" name="Inward" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                            <div class="form-group">
                                                <label> OutWard</label>
                                                <input type="text" class="form-control" placeholder="OutWard" id="OutWard" name="OutWard" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                            <div class="form-group">
                                                <label> Eligibility</label>
                                                <input type="text" class="form-control" placeholder="Eligibility" id="Eligibility" name="Eligibility" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                            <div class="form-group">
                                                <label> Shortage</label>
                                                <input type="text" class="form-control" placeholder="Shortage" id="Shortage" name="Shortage" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                            <div class="form-group">
                                                <label>Current Eligibility</label>
                                                <input type="text" class="form-control" placeholder="0" id="CurrentEligibility" name="CurrentEligibility" oninput="Common.allowOnlyNumberLength(this,8)" />
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div> *@

            @* <div class="col-12">
                <div class="accordion" id="styleAccordion1">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapseSix" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Visicooler Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">

                            <div class="d-flex justify-content-end align-items-start">
                                <button id="" class="btn AddStockBtn" type="button" onclick="duplicateVisicooler(this)">
                                    <i class="fas fa-plus" id="AddButton"></i>
                                </button>
                            </div>
                            <form id="FormVisicooler" style="margin-top: -30px;">
                            </form>
                        </div>
                    </div>
                </div>
            </div> *@


            <div class="col-12">
                <div class="accordion" id="TransactionsHide">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Transactions Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse9" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="FromTransactionsInfo">
                                <div class="row">
                                    <div class="col-12" id="TransactionsInfo">
                                        <div class="table-responsive">
                                            <table class="table table-rounded dataTable data-table table-striped tableResponsive" id="Managetable"></table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @* <div class="col-12">
                <div class="accordion" id="styleAccordion12">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne2" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Franchise Mapping Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion12" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="FormFranchiseData">
                                <div class="row mt--2" id="BindFranchiseData">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> *@

        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="col-md-12 col-lg-12">
            <div class="form-group text-center">
                <div class="card-action">
                    <a class="btn btn-success m-r-20 text-white" id="SaveClient">Save</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="ShopModal" class="modal custom-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h2 id="ShoptilteModal"></h2>
                <span id="ShopClose" class="close" style="font-size:30px;cursor:pointer;color:white;" title="Close">×</span>
            </div>

            <div class="modal-body" style="max-height: 70vh; overflow-y: auto; overflow-x: hidden; padding: 0px 0px 10px 0px;">


                <div class="col-lg-12" id="editCounterbox">
                    <div class="row m-t-25">
                        <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                            <div class="card card-stats card-round quick-db-box">
                                <div class="card-body ">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-db-green bubble-shadow-small">
                                                <img id="CounterImage1" src="~/assets/moduleimages/client/total new clients.png" />
                                            </div>
                                        </div>
                                        <div class="col col-stats ml-3">
                                            <div class="numbers">
                                                <div class="card-category" id="ShopCounterBoxName1"></div>
                                                <h4 class="card-title" id="ShopCounterBoxValue1"> </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                            <div class="card card-stats card-round quick-db-box">
                                <div class="card-body ">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-db-orange bubble-shadow-small">
                                                <img id="CounterImage2" src="~/assets/moduleimages/client/top buyer award icon.png" />
                                            </div>
                                        </div>
                                        <div class="col col-stats ml-3">
                                            <div class="numbers">
                                                <div class="card-category" id="ShopCounterBoxName2"></div>
                                                <h4 class="card-title" id="ShopCounterBoxValue2"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                            <div class="card card-stats card-round quick-db-box">
                                <div class="card-body ">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-db-red bubble-shadow-small">
                                                <img id="CounterImage3" src="~/assets/moduleimages/client/total purchase amtnew.png" />
                                            </div>
                                        </div>
                                        <div class="col col-stats ml-3">
                                            <div class="numbers">
                                                <div class="card-category" id="ShopCounterBoxName3"></div>
                                                <h4 class="card-title" id="ShopCounterBoxValue3"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                            <div class="card card-stats card-round quick-db-box">
                                <div class="card-body ">
                                    <div class="row align-items-center">
                                        <div class="col-icon">
                                            <div class="icon-big text-center icon-db-blue  bubble-shadow-small">
                                                <img id="CounterImage4" src="~/assets/moduleimages/client/highest credit imagenew.png" />
                                            </div>
                                        </div>
                                        <div class="col col-stats ml-3">
                                            <div class="numbers">
                                                <div class="card-category" id="ShopCounterBoxName4"></div>
                                                <h4 class="card-title" id="ShopCounterBoxValue4"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end mr-2">
                    <div class="searchbar">
                        <input type="text" class="searchbar__input" name="q" id="tableFilterShop" placeholder="Search">
                        <button type="submit" class="searchbar__button">
                            <img src="~/assets/commonimages/search.svg" />
                        </button>
                    </div>
                    <div class="datapiker ml-2 mt-1" style="position: relative;">
                        <div class="add-imp-exp-btn">
                            <div class="exportsiconpop">
                                <span class="pop">
                                    <a id="AddShop" title="Add Shop">
                                        <img src="~/assets/CommonImages/addicon.svg" style="height: 25px; width: 25px;" />
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                </div>

            </div>
        </div>
    </div>
</div>


<div id="ShopCanvas" class="offcanvas-container">
    <div class="offcanvas-header d-flex align-items-center justify-content-between">
        <h2 id="ShopHeader">Add New Shop</h2>
        <span id="CloseShopCanvas" class="close"
              style="font-size:30px;cursor:pointer;color:white;"
              title="Close">&times;</span>
    </div>

    <div class="offcanvas-body">
        <form id="FormShop">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <div class="form-group">
                        <label>Shop Type<span id="Asterisk">*</span></label>
                        <select class="form-control" id="ShopTypeId" name="ShopTypeId" required>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <div class="form-group">
                        <label id="ClientTypeName">Shop Name<span id="Asterisk">*</span></label>
                        <input type="text" class="form-control" placeholder="Ex: Green Café" id="ShopName" name="ShopName" maxlength="30" required />
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6 ">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Ex: 101, Ashoka Nagar" id="ShopAddress" name="ShopAddress" maxlength="50" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6 ">
                    <div class="form-group">
                        <label>City<span id="Asterisk">*</span></label>
                        <input type="text" class="form-control" placeholder="Ex: Chennai" id="ShopCity" name="ShopCity" oninput="Common.allowOnlyTextLength(this,20)" required />
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                    <div class="form-group">
                        <label>State<span id="Asterisk">*</span></label>
                        <select class="form-control" id="ShopStateId" name="ShopStateId" required>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                    <div class="form-group">
                        <label>Country<span id="Asterisk">*</span></label>
                        <input type="text" class="form-control" placeholder="Ex: India" id="ShopCountry" name="ShopCountry" oninput="Common.allowOnlyTextLength(this,20)" required />
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                    <div class="form-group">
                        <label>Zipcode</label>
                        <input type="text" class="form-control" placeholder="Ex: 600028" id="ShopZipcode" name="ShopZipcode" oninput="Common.allowOnlyNumberLength(this,6)" />
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                    <div class="form-group">
                        <label>Contact No<span id="Asterisk">*</span></label>
                        <input type="text" class="form-control" placeholder="Ex:9876543210" id="ShopContactNo" name="ShopContactNo" oninput="Common.allowOnlyNumberLength(this,10)" minlength="10" maxlength="10" required />
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Ex: example@gmail.com" id="ShopEmail" name="ShopEmail" oninput="Common.allowEmailAndLength(this, 50)" />
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2" id="GSTNone">
                    <div class="form-group">
                        <label>GST Number</label>
                        <input type="text" class="form-control" placeholder="Ex: 27AAACB1234C1Z5" id="ShopGSTNumber" name="ShopGSTNumber" oninput="Common.allowGSTNumber(this, 15)" />
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-6 mt-2">
                    <div class="form-group">
                        <label>Max Credit Limit<span id="Asterisk">*</span></label>
                        <input type="text" class="form-control" placeholder="Max Credit Limit" id="MaxCreditLimit" name="MaxCreditLimit" oninput="Common.allowOnlyNumbersAndAfterDecimalTwoVal(this, 6)" required />
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-6 mt-2">
                    <div class="form-group">
                        <label>Current Credit</label>
                        <input type="text" class="form-control" placeholder="0.00" id="CurrentCreditLimit" name="CurrentCreditLimit" disabled />
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2" id="VisicoolerHideShop">
                    <div class="form-group">
                        <label>No Of VisiCoolers</label>
                        <input type="text" class="form-control" placeholder="0" id="Visicooler" name="Visicooler" oninput="Common.allowOnlyNumberLength(this,4)" />
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-6" style="margin-top: 35px;" id="hideActive">
                    <div class="form-group">
                        <input type="checkbox" id="IsActive" name="IsActive">
                        <label for="IsActive"> Is Active </label>
                    </div>
                </div>


                <div class="col-md-12 col-lg-12 col-sm-12 col-6 mt-2">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea class="form-control" id="Remarks" autocomplete="off" name="Remarks" rows="1" maxlength="500" placeholder="Remarks"></textarea>
                    </div>
                </div>

            </div>
        </form>

        <form id="FormContactShop">
            <fieldset class="expensefild_1">
                <legend class="w-auto">Contact Info</legend>
                <div class="d-flex justify-content-end align-items-start mt--1" id="dynamicButtonDiv">
                    <button id="" class="btn AddStockBtn" type="button" onclick="duplicateShopRow(this)">
                        <i class="fas fa-plus" id="AddButton"></i>
                    </button>
                </div>
                <div class="mt--3" id="BindContactShop">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="offcanvas-footer">
        <div class="col-md-12 col-lg-12">
            <div class="form-group text-center">
                <div class="card-action">
                    <a class="btn btn-success m-r-20 text-white" id="SaveShop">Save</a>
                    @* <a class="btn btn-danger m-r-20 text-white" id="DeleteShop">Delete</a> *@
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var access = @Html.Raw(Json.Serialize(access));
</script>



<script src="~/js/client.js"></script>

