@{
    UserAccessOption access = GenericTetroONE.GetUserAccessSession(UserScreen.Franchise, Context.Session);
}
<link href="~/css/client.css" rel="stylesheet" />


<div class="row quick-db m-b-5">
    <div class="col-lg-12">
        <div class="row m-t-25">
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-green bubble-shadow-small">
                                    <img src="~/assets/moduleimages/contact/franchiseicon_1.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox1"></div>
                                    <h4 class="card-title" id="CounterValBox1"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-orange bubble-shadow-small">
                                    <img src="~/assets/moduleimages/contact/franchiseicon_2.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox2"></div>
                                    <h4 class="card-title" id="CounterValBox2"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-red bubble-shadow-small">
                                    <img src="~/assets/moduleimages/contact/franchiseicon_3.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox3"></div>
                                    <h4 class="card-title" id="CounterValBox3"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card card-stats card-round quick-db-box">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-db-blue  bubble-shadow-small">
                                    <img src="~/assets/moduleimages/contact/franchiseicon_4.svg" />
                                </div>
                            </div>
                            <div class="col col-stats ml-3">
                                <div class="numbers">
                                    <div class="card-category" id="CounterTextBox4"></div>
                                    <h4 class="card-title" id="CounterValBox4"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/css/offcanvas.css" rel="stylesheet" />


<div class="row justify-content-end mr-2">
    <div class="searchbar">
        <input type="text" class="searchbar__input" name="q" id="tableFilter" placeholder="Search">
        <button type="submit" class="searchbar__button">
            <img src="~/assets/commonimages/search.svg" />
        </button>
    </div>

    <div class="datapiker ml-2 mt-1" style="position: relative;">
        <div class="add-imp-exp-btn">
            <div class="exportsiconpop">
                @{
                    if (access.Create)
                    {
                        <span class="pop">
                            <a id="AddFranchise" title="Add Franchise">
                                <img src="~/assets/CommonImages/addicon.svg" style="height: 25px; width: 25px;" />
                            </a>
                        </span>
                    }
                }
            </div>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-rounded dataTable data-table table-striped tableResponsive" id="FranchiseTable"></table>
</div>

<div id="FranchiseCanvas" class="offcanvas-container">
    <div class="offcanvas-header d-flex align-items-center justify-content-between">
        <h2 id="FranchiseHeader">Add New Franchise</h2>
        <span id="CloseCanvas" class="close"
              style="font-size:30px;cursor:pointer;color:white;"
              title="Close">&times;</span>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Franchise Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="FormFranchise">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label id="FranchiseNameLab">Franchise Name<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" placeholder="Ex: Green Café" id="FranchiseName" name="FranchiseName" maxlength="50" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" placeholder="Ex: 101, Ashoka Nagar" id="FranchiseAddress" name="FranchiseAddress" maxlength="500" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>City<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" placeholder="Ex: Chennai" id="FranchiseCity" name="FranchiseCity" required oninput="Common.allowOnlyTextLength(this,50)" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>State<span id="Asterisk">*</span></label>
                                            <select class="form-control" id="FranchiseStateId" name="FranchiseStateId" required>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Country<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" placeholder="Ex: India" id="FranchiseCountry" name="FranchiseCountry" oninput="Common.allowOnlyTextLength(this,20)" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6" id="DivZipCode">
                                        <div class="form-group">
                                            <label>Zipcode</label>
                                            <input type="text" class="form-control" placeholder="Ex: 600028" id="FranchiseZipCode" name="FranchiseZipCode" oninput="Common.allowOnlyNumberLength(this,6)" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6" id="DivContact">
                                        <div class="form-group">
                                            <label>Contact No<span id="Asterisk">*</span></label>
                                            <input type="text" class="form-control" placeholder="Ex:9876543210" id="FranchiseContactNo" minlength="10" maxlength="10" name="FranchiseContactNo" oninput="Common.allowOnlyNumberLength(this,10)" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Ex: example@gmail.com" id="FranchiseEmail" name="FranchiseEmail" oninput="Common.allowEmailAndLength(this, 50)" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                                        <div class="form-group">
                                            <label>Website</label>
                                            <input type="text" class="form-control" id="FranchiseWebsite" name="FranchiseWebsite" placeholder="Ex: www.abc.com" maxlength="50" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6" id="GSTNone">
                                        <div class="form-group">
                                            <label>GST Number</label>
                                            <input type="text" class="form-control" placeholder="Ex: 27AAACB1234C1Z5" id="FranchiseGSTNumber" name="FranchiseGSTNumber" oninput="Common.allowGSTNumber(this, 15)" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6" style="margin-top: 26px;" id="IsActiveHide">
                                        <div class="form-group">
                                            <input type="checkbox" id="IsActive" name="IsActive">
                                            <label for="IsActive"> Is Active </label>
                                        </div>
                                    </div>


                                    <div class="col-lg-8 col-md-8 col-sm-6 col-6">
                                        <div class="form-group" style="margin-top:18px;">
                                            <label>Remarks</label>
                                            <textarea class="form-control" id="Remarks" autocomplete="off" name="Remarks" rows="1" maxlength="500" placeholder="Remarks"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-6 pl-1 pr--1">
                                        <label class="Signaturelabel">Signature</label>
                                        <label class="picture" for="addSignatureLabel" tabindex="0">
                                            <span class="avatar-preview">
                                                <img class="imagePreview-Signature" id="signatureUpload">
                                            </span>
                                            <label class="d-none" id="SignatureExistingImage"></label>
                                        </label>
                                        <div class="company-sign-avatar-upload">
                                            <div class="avatar-edit">
                                                <input type="file" id="addSignatureLabel"
                                                       class="imageUpload-Signature" accept=".png, .jpg, .jpeg">
                                                <label for="addSignatureLabel">
                                                    <img src="/assets/commonimages/camera.svg">
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2" id="Attachrow">
                                        <div class=" border border-radius" style="background-color:#F1F0EF; max-height:10.5rem;height: 96px;">
                                            <!-- Add a custom button for choosing files -->
                                            <label class=" d-flex justify-content-center align-content-center mt-1" style="text-decoration:underline; color:#7D7C7C;">
                                                <b>Click Here to Attach your files</b>
                                                <input type="file" id="fileInput" multiple="" class="custom-file-input">
                                            </label>
                                            <div class="file-preview d-flex justify-content-center" id="preview">
                                                <div class="attachrow">
                                                    <div class="attachcolumn">
                                                        <ul class="row justify-content-center px-3 mb-2" id="selectedFiles"></ul>
                                                    </div>
                                                    <div class="attachcolumn"><ul class="row justify-content-center px-3 mb-2" id="ExistselectedFiles"></ul></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne2" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Bank Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="FormFranchiseBank">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>IFSC Code</label>
                                            <input type="text" class="form-control" placeholder="Ex: SBIN0001234" id="IFSCCode" name="IFSCCode" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Bank Name</label>
                                            <input type="text" class="form-control" placeholder="Ex: State Bank of India" id="BankName" name="BankName" oninput="Common.allowOnlyTextLength(this, 25)" disabled />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Branch Name</label>
                                            <input type="text" class="form-control" placeholder="Ex: Main Branch" id="BranchName" name="BranchName" oninput="Common.allowOnlyTextLength(this, 25)" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Account Type</label>
                                            <select class="form-control" id="AccountType" name="AccountType">
                                                <option value="">--Select--</option>
                                                <option value="Current">Current</option>
                                                <option value="Savings">Savings</option>
                                                <option value="CashCredit">Cash Credit</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Account Name</label>
                                            <input type="text" class="form-control" placeholder="Ex: S.K.Jain and Sons." id="AccountName" name="AccountName" oninput="Common.allowOnlyTextLength(this,25)" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6 col-6 mt-2">
                                        <div class="form-group">
                                            <label>Account Number</label>
                                            <input type="text" class="form-control" placeholder="Ex: 123456789012" id="AccountNumber" name="AccountNumber" oninput="Common.allowOnlyNumberLength(this,20)" />
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 branch">
                                        <div class="form-group">
                                            <label>UPI Id</label>
                                            <input type="text" id="UPIId" name="UPIId" class="form-control" placeholder="Ex: example@upi" autocomplete="off" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne3" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Contact Person Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">

                            <div class="d-flex justify-content-end align-items-start">
                                <button id="" class="btn AddStockBtn" type="button" onclick="duplicateRow(this)">
                                    <i class="fas fa-plus" id="AddButton"></i>
                                </button>
                            </div>
                            <form id="FormFranchiseContact">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12" id="EligibilityHide">
                <div class="accordion" id="styleAccordionluf3ws29vt">
                    <div class="accordion-header">
                        <h2 id="Styleentery" class="mb-0 Styleentery">
                            <a data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne1" class="">
                                <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                                    <strong class="text-white">
                                        Eligibility Info
                                    </strong>
                                    <i class="fas fa-angle-down text-white"></i>
                                </p>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#styleAccordion1" style="">
                        <div id="Styleenterydetalis" class="card-body">
                            <form id="FormEligibility">
                                <div class="row Clientcontact_1">

                                    <div class="col-md-4 col-lg-4 col-sm-4 col-6">
                                        <div class="form-group">
                                            <label>Collabrated Date<span id="Asterisk">*</span></label>
                                            <input type="date" class="form-control" id="CollaboratedDate" name="CollaboratedDate" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4 col-6">
                                        <div class="form-group">
                                            <label>Expiry Date<span id="Asterisk">*</span></label>
                                            <input type="date" class="form-control" id="ExpiryDate" name="ExpiryDate" required />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-sm-4 col-6">
                                        <div class="form-group">
                                            <label>Inv Amount</label>
                                            <input type="text" class="form-control" placeholder="0.00" id="InvoiceAmount" name="InvoiceAmount" oninput="Common.allowOnlyNumberLength(this,8)" />
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                        <div class="form-group">
                                            <label>No of Crates</label>
                                            <input type="text" class="form-control" placeholder="0.00" id="NoOfCrates" name="NoOfCrates" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                        <div class="form-group">
                                            <label> InWard</label>
                                            <input type="text" class="form-control" placeholder="Inward" id="Inward" name="Inward" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                        <div class="form-group">
                                            <label> OutWard</label>
                                            <input type="text" class="form-control" placeholder="OutWard" id="OutWard" name="OutWard" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                        <div class="form-group">
                                            <label> Eligibility</label>
                                            <input type="text" class="form-control" placeholder="Eligibility" id="Eligibility" name="Eligibility" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3 col-sm-3 col-6">
                                        <div class="form-group">
                                            <label> Shortage</label>
                                            <input type="text" class="form-control" placeholder="Shortage" id="Shortage" name="Shortage" oninput="Common.allowOnlyNumberLength(this,8)" disabled />
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="col-md-12 col-lg-12">
            <div class="form-group text-center">
                <div class="card-action">
                    <a class="btn btn-success m-r-20 text-white" id="SaveFranchise">Save</a>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    var access = @Html.Raw(Json.Serialize(access));
</script>



<script src="~/js/franchise.js"></script>